        <div id="join_form">
        <script>
            var country_change = jQuery('#id_country');

            country_change.change(
                function(){

                jQuery.ajax({
                    url: "/get_schools/",
                    data: { 'name' : jQuery('#id_country').val()},
                    success: function (data) {
                        jQuery('#school_list').replaceWith(data)
                    },
                    error: function (data) {
                        alert("error joining course");
                    },

                });

            });
        </script>
        

        <input type="hidden" value={{request.user.pk}}>
        <span class="group-prompt">Which country is your intitution located?</span>
        <div id="country_list">

            <select id="id_country" name="country" >

                <option value="blank">------</option>
                {% for c in object_list %}
                    <option value="{{c.pk}}">{{c.display_name}}</option>
                {% empty %}
                    <p>Oh no! there are no countries.</p>
                {% endfor %}
            </select>
        </div>
        <div id="school_list"></div>
        <div id="group_list"></div>


