{% extends 'base.html' %}
{% load waffle_tags %}
{% block js %}
    <script src="/site_media/js/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript">
        var profile_attributes = {
            'role': "{{user.profile.role}}",
            {% if user.profile.school %}
                'school': "{{user.profile.school.id}}",
            {% endif %}
            'country': "{{user.profile.country.name}}"
        }
    </script>
    <script type="text/javascript" src="/site_media/js/dashboard.js"></script>
    <script type="text/javascript" src="/site_media/js/profile.js"></script>    
{% endblock %}

{% block content %}
{% with user_profile=object %}

    <ul class="nav nav-tabs dashboard-nav">
        {% comment %}If you make changes here, go make them in reports.html too{% endcomment %}
        <li class="active"><a href="#user-modules" data-toggle="tab">Option B+</a></li>
    
        <li><a href="#user-groups" data-toggle="tab">Groups</a></li>
    
        <li><a href="#user-profile" data-toggle="tab">Profile</a></li>
        
        {% if user_profile.is_institution_administrator or user_profile.is_country_administrator or user_profile.is_icap %}
        <li><a href="#pending" data-toggle="tab">Pending Teachers</a></li>
        {% endif %}
        
        {% flag "reports" %}
        {% if not user_profile.is_student %}
        <li class="pull-right"><a class="reports" href="/dashboard/reports/">Reports</a></li>
        {% endif %}
        {% endflag %}
    </ul>

    <div class="dashboard tab-content">
        {% include "dashboard/tab_optionb.html" %}
    
        {% include "dashboard/tab_groups.html" %}
    
        {% include "dashboard/tab_profile.html" %}
    
        {% if user_profile.is_institution_administrator or user_profile.is_country_administrator or user_profile.is_icap %}
            {% include "dashboard/tab_pending_teachers.html" %}
        {% endif %}

        {% comment %}
            @todo - make resources visible when we get them
            {% if object.profile_type == "ST" %}
                {% include "dashboard/tab_student_resources.html" %}
            {% endif %}
            {% if object.profile_type == "TE" %}
                {% include "dashboard/tab_teacher_resources.html" %}
            {% endif %}
            {% if object.profile_type == "CA" %}
                {% include "dashboard/tab_ca_resources.html" %}
            {% endif %}
            {% if object.profile_type == "IC" %}
                {% include "dashboard/tab_icap_resources.html" %}
            {% endif %}
        {% endcomment %}
    </div>
{% endwith %}
{% endblock%}