   <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onClick=refresh_page();> x </button>
                    <h4 class="modal-title" id="myModalLabel">Join Course</h4>
                </div>
                
                <div class="modal-body">
                    <form id="create_course" action="/create_new_course/" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit"/>
                    </form>
                </div>
                
                <div class="modal-footer">
                    <button id="refresh" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>