<div id="group_list">
<table width="100%" class="table table-striped table-condensed"> 
    <tr><th>
        <td><b>Group Name</b></td>
        <td><b>Start Date</b></td>
        <td><b>End Date</b></td>
        <td><b>Teacher</b></td>
        <td><b>Module</b></td>
    </th></tr>
{% for group in group_list %}
    <tr>
      <td>
                {{group.name}}
            </td>
            <td>
                {{group.start_date}}
            </td>
                        <td>
                {{group.end_date}}
            </td>
            <td>
                {{group.creator}}
            </td>
            <td>
                {{group.module}}
            </td>
            <td class="button" data-btn="{{group.pk}}">
                <button>Join Group</button>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td>
                <p>There are no courses listed for this school.</p>
            </td>
        </tr>
    {% endfor %}
</table>

</div>

<script>

var button = jQuery(".button");
button.on("click",
    function() {
            var clicked_group = jQuery(this).data().btn;
             jQuery.ajax({
             url: "/join_group/",
             type: "POST",
             data: {'country': jQuery('#id_country').val(), 'school' : jQuery('#id_school').val(), 'group': clicked_group },
             success: function (data)
             {  
                var school = jQuery('#id_school').find('option:selected').text();
                jQuery('.modal-body').append('<p class="join-group-modal">You have just joined <b> ' + school + '</b></p>')
                jQuery('.modal').modal();
             },
             error: function(data)
             {
                 alert("error joining group");
             }
        }); //end of ajax
});// end of function after click

</script>
<div id="modal">
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Group Join Succesfull</h4>
      </div>
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>