  <div id="group_list">

       <select id="id_group" name="group" >
            <option value="blank">------</option>
            {% for group in group_list %}
                <option value="{{group.pk}}">{{group.name}} {{group.pk}}</option>
            {% empty %}
                <p>There are no groups listed in this country yet.</p>
            {% endfor %}
       </select>
  </div>
        <input type="submit" value="Submit" />
        </form>
<script>
    var frm = jQuery('#join_group');
    alert(frm.attr('action'));
     frm.submit(
       function () {
         jQuery.ajax({
             type: frm.attr('method'),
             url: frm.attr('action'),
             data: frm.serialize(),
             success: function (data) {
                 alert("success");
                 //jQuery(".modal-body").html("You successfully joined the group!");
             },
             error: function(data) {
                 alert("error");
                 //jQuery(".modal-body").html("Something went wrong!");
             }
         }

         );

     return false;
     });

</script>



