  <div id="group_list">

       <select id="id_group" name="group" >
            <option value="blank">------</option>
            {% for group in group_list %}
                <option value="{{group.pk}}">{{group.name}} {{group.pk}}</option>
            {% empty %}
                <p>There are no groups listed in this country yet.</p>
            {% endfor %}
       </select>
  </div>


<input type="submit" value="Submit" />
  <script>
    var frm = jQuery('#join_group');
    
     frm.submit(
       function () {
         jQuery.ajax({
             url: "/join_group/",
             type: "POST",
             data: {'country': jQuery('#id_country').val(), 'school' : jQuery('#id_school').val(), 'group': jQuery('#id_group').val()},
             success: function (data)
             {
                 alert("success");
             },
             error: function(data)
             {
                 alert("error at group");
             }
         });

     return false;
     });

</script>
</form>
