{% extends 'base.html' %}

{% block css %}
    <link href="/site_media/css/datepicker.css" rel="stylesheet">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/site_media/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/site_media/js/dashboard.js"></script>
    <script type="text/javascript" src="/site_media/js/profile.js"></script>
    
    <script type="text/javascript">
        var profile_attributes = {
            'role': "{{object.role}}",
            {% if user.profile.school %}
                'school': "{{object.school.id}}",
            {% endif %}
            'country': "{{object.country.name}}"
        }
    </script>
{% endblock %}

{% block content %}
{% with user_profile=object %}

    {% include "dashboard/tabheadercontent.html" %}

    <div class="dashboard tab-content">
        {% include "dashboard/tab_optionb.html" %}
    
        {% include "dashboard/tab_groups.html" %}
    
        {% comment %}
        {% if object.profile_type == "TE" %}
            {% include "dashboard/tab_teacher_reports.html" %}
        {% endif %}
        {% if object.profile_type == "CA" %}
            {% include "dashboard/tab_ca_reports.html" %}
        {% endif %}
        {% if object.profile_type == "IC" %}
            {% include "dashboard/tab_icap_reports.html" %}
        {% endif %}
        {% endcomment %}
    
        {% include "dashboard/tab_profile.html" %}
    
        {% if object.profile_type == "IC" or object.profile_type == "CA" %}
            {% include "dashboard/tab_pending_teachers.html" %}
        {% endif %}

        {% comment %}
            @todo - make resources visible when we get them
            {% if object.profile_type == "ST" %}
                {% include "dashboard/tab_student_resources.html" %}
            {% endif %}
            {% if object.profile_type == "TE" %}
                {% include "dashboard/tab_teacher_resources.html" %}
            {% endif %}
            {% if object.profile_type == "CA" %}
                {% include "dashboard/tab_ca_resources.html" %}
            {% endif %}
            {% if object.profile_type == "IC" %}
                {% include "dashboard/tab_icap_resources.html" %}
            {% endif %}
        {% endcomment %}
    </div>
{% endwith %}
{% endblock%}