
{% block js %}
<script>
jQuery(function() {
	jQuery( "#id_start_date" ).datepicker();
});
jQuery(function() {
	jQuery( "#id_end_date" ).datepicker();
});

var cancel_btn = jQuery('#cancel');
    cancel_btn.click(function(){jQuery('#add_course_div').empty();});
</script>
{% endblock %}
{% block content %}
<div id="creation">
    <form id="create_course_form" action="." method="post">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Add Group" />
    </form><button id="cancel">Cancel</button>
</div>
{% endblock %}