{% extends 'base.html' %}

{% block js %}
    <script src="/site_media/js/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript">
        var profile_attributes = {
            'role': "{{user.profile.role}}",
            {% if user.profile.school %}
                'school': "{{user.profile.school.id}}",
            {% endif %}
            'country': "{{user.profile.country.name}}"
        }
    </script>
    <script type="text/javascript" src="/site_media/js/dashboard.js"></script>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs dashboard-nav">
        <li><a href="/dashboard/#user-modules">Option B+</a></li>

        <li><a href="/dashboard/#user-groups">Groups</a></li>

        <li><a href="/dashboard/#user-profile">Profile</a></li>

        {% if user.profile.is_institution_administrator or user.profile.is_country_administrator or user.profile.is_icap %}
            <li><a href="/dashboard/#pending">Pending Teachers</a></li>
        {% endif %}

        {% if not user.profile.is_student %}
            <li class="pull-right active"><a class="reports" href="/dashboard/reports/">Reports</a></li>
        {% endif %}
    </ul>

    <div class="dashboard tab-content">
        {% if user.profile.is_teacher %}
            <h3 class="role">AS FACULTY</h3>
        {% else %}{% if user.profile.is_institution_administrator %}
            <h3 class="role">AS INSTITUTION ADMINISTRATOR</h3>
        {% else %}{% if user.profile.is_country_administrator %}
            <h3 class="role">AS COUNTRY ADMINISTRATOR</h3>
        {% else %}{% if user.profile.is_icap %}
            <h3 class="role">AS ICAP ADMINISTRATOR</h3>
        {% endif %}{% endif %}{% endif %}{% endif %}
        
        <form id="report-selector" class="action-container" action='/dashboard/reports/download/' method="post">{% csrf_token %}
            <div class="fieldWrapper control-group country wide">
                <div class="controls">
                    <label><b>Country</b></label>
                    <select name="country">
                        <option class="all-or-none-option" value="all">All countries</option>
                        {% for choice in countries %}
                            <option value="{{choice.0}}">{{choice.1}}</option>
                        {% endfor %}
                    </select>
                    <div class="help-inline error no-schools">
                        Your selected country has no institutions.<br />Select another country or <b>All countries</b>.
                    </div>
                </div>
            </div>
            <div class="fieldWrapper control-group school wide" style="display: none">
                <div class="controls">
                    <label><b>Institution:</b></label>
                    <select  name="school">
                        <option class="all-or-none-option" value="all">All institutions</option>
                    </select>
                    <div class="help-inline error no-schoolgroups">
                        {% if user.profile.is_teacher %}
                            You have not created any groups yet.<br />Create groups on the <a href="/dashboard/#user-groups">Groups</a> tab.
                        {% else %}{% if user.profile.is_institution_administrator %}
                            Your selected institution has no groups yet.<br />Create groups on the <a href="/dashboard/#user-groups">Groups</a> tab.
                        {% else %}
                            Your selected institution has no available groups.<br />Select another institution or <b>All Institutions</b>
                        {% endif %}{% endif %}
                    </div>
                </div>
            </div>
            <div class="fieldWrapper control-group schoolgroup" style="display: none">
                <label><b>Group:</b></label>
                <select name="schoolgroup">
                    <option class="all-or-none-option" value="all">All groups</option>
                </select>
            </div>            
            <button class="btn btn-primary aggregate">View Aggregate Report</button> 
            <button class="btn btn-primary download" type="submit">Download Report</button>   
        </form>
    </div>
{% endblock %}
