{% extends 'base.html' %}

{% block js %}
    <script src="/site_media/js/jquery-ui-1.10.3.min.js"></script>
    <script src="/site_media/js/underscore-min.js"></script>
    
    <script type="text/template" id="aggregate-report-template">
        <table class="table table-striped table-condensed well">
            <tr><th>Members</th><th>Total</th><th>Completed</th><th>Incomplete</th><th>In Progress</th></tr>
            <tr>
                <td />
                <td><%= total %></td>
                <td><%= completed %></td>
                <td><%= incomplete %></td>
                <td><%= inprogress %></td>
            </tr>
        </table>
        <% if (completed > 0) { %>
            <br />
            <br />
            <h4>Averages for  <%= completed %> users </h4>
            <table class="table table-striped table-condensed">
            <tr>
                <td>Pre-test score</td>
                <td>
                    <% if (progress_report.pretest == 0) { %>
                        Incomplete
                    <% } else { %>
                        <%= progress_report.pretest %>%
                    <% } %>
                </td>
            </tr>
            <tr>
                <td>Post-test score</td>
                <td>
                    <% if (progress_report.posttest == 0) { %>
                        Incomplete
                    <% } else { %>
                        <%= progress_report.posttest %>%
                    <% } %>
                </td>
            </tr>        
            <tr>
                <td>Pre/Post change</td>
                <td>
                    <%= progress_report.prepostchange %>%
                </td>
            </tr>        
            <tr>
                <td>Satisfaction score</td>
                <td><%= progress_report.satisfaction %>%</td>
            </tr>        
            </table>
        <% } %>
    </script>
    
    <script type="text/javascript">
        var profile_attributes = {
            'role': "{{user.profile.role}}",
            {% if user.profile.school %}
                'school': "{{user.profile.school.id}}",
            {% endif %}
            'country': "{{user.profile.country.name}}"
        }
    </script>
    <script type="text/javascript" src="/site_media/js/dashboard.js"></script>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs dashboard-nav">
        <li><a href="/dashboard/#user-modules">Option B+</a></li>

        <li><a href="/dashboard/#user-groups">Groups</a></li>

        <li><a href="/dashboard/#user-profile">Profile</a></li>

        {% if user.profile.is_institution_administrator or user.profile.is_country_administrator or user.profile.is_icap %}
            <li><a href="/dashboard/#pending">Pending Teachers</a></li>
        {% endif %}

        {% if not user.profile.is_student %}
            <li class="pull-right active"><a class="reports" href="/dashboard/reports/">Reports</a></li>
        {% endif %}
    </ul>

    <div class="dashboard tab-content">
        <h3>Aggregate Report</h3>
        
        <form id="report-selector" class="action-container" action='/dashboard/reports/download/' method="post">{% csrf_token %}
            <div class="fieldWrapper control-group module wide">
                <div class="controls">
                    <label><b>Module</b></label>
                    <select name="module" disabled="disabled">
                        <option value="main">Option B+</option>
                    </select>
                </div>
            </div>            
            <div class="fieldWrapper control-group country wide">
                <div class="controls">
                    <label><b>Country</b></label>
                    <select name="country">
                        <option class="all-or-none-option" value="all">All countries</option>
                        {% for choice in countries %}
                            <option value="{{choice.0}}">{{choice.1}}</option>
                        {% endfor %}
                    </select>
                    <div class="help-inline error no-schools">
                        Your selected country has no institutions.<br />Select another country or <b>All countries</b>.
                    </div>
                </div>
            </div>
            <div class="fieldWrapper control-group school wide" style="display: none">
                <div class="controls">
                    <label><b>Institution</b></label>
                    <select  name="school">
                        <option class="all-or-none-option" value="all">All institutions</option>
                        <option class="all-or-none-option" value="unaffiliated">Unaffiliated Students</option>
                    </select>
                    <div class="help-inline error no-schoolgroups">
                        {% if user.profile.is_teacher %}
                            You have not created any groups yet.<br />Create groups on the <a href="/dashboard/#user-groups">Groups</a> tab.
                        {% else %}{% if user.profile.is_institution_administrator %}
                            Your selected institution has no groups yet.<br />Create groups on the <a href="/dashboard/#user-groups">Groups</a> tab.
                        {% else %}
                            Your selected institution has no available groups.<br />Select another institution or <b>All Institutions</b>
                        {% endif %}{% endif %}
                    </div>
                </div>
            </div>
            <div class="fieldWrapper control-group schoolgroup" style="display: none">
                <label><b>Group:</b></label>
                <select name="schoolgroup">
                    <option class="all-or-none-option" value="all">All groups</option>
                </select>
            </div>
            {% comment %}
            <div class="fieldWrapper control-group completed_date wide">
                <label><b>Users completing by...</b></label>
                <div class="controls">
                    <input name="completed_date" type="text" size="16" class="datepicker" placeholder="Any Time"/> 
                    <img class="calendar"  style="vertical-align:middle;" src="/site_media/img/calendar.gif" alt="calendar icon"/>
                    <div class="help-inline error completed_date">
                        Please specify a valid date or no date.
                    </div>
                </div>
            </div>
            {% endcomment %}
            <button class="btn btn-primary aggregate pull-right">View Aggregate Report</button>
            <button class="btn btn-default download pull-right small" type="submit">Download Full Report (.csv)</button>   
            <div class="clearfix"></div>
            <div id="aggregate-report-container"></div>
        </form>
    </div>
{% endblock %}
