{% extends 'base.html' %}

{% load progressreport %}

{% block title %}Student Detail{% endblock %}

{% block content %}
    <ul class="breadcrumb">
      <li><a href="{% url 'dashboard'%}#user-groups">Dashboard</a> <span class="divider">/</span></li>
      <li>{{group.name}} <span class="divider">/</span></li>
      <li><a href="{% url 'roster-details' group.id %}">Roster</a> <span class="divider">/</span></li>
      <li class="active">Student Detail</li>
    </ul>

    <h3>{{student.get_full_name}} Detail</h3>
    <dl class="dl-horizontal">
        <dt>School</dt><dd>{{group.school.name}}</dd>
        <dt>Country</dt><dd>{{group.school.country.display_name}}</dd>
    </dl>

    {% include "dashboard/progress_report.html" %}

{% endblock %}