{% load progressreport %}

<div class="tab-pane active" id="user-modules">
    {% if user_profile|percent_complete:optionb == 0 %}
    <div class="alert alert-info">
        <strong>Welcome!</strong> Placeholder text for the first time user experience.
    </div>
    {% endif %}
    
    <h3>Option B+</h3>
    
    <div class="row-fluid">
        <div class="span7">
            This is a placeholder for one-paragraph description of the
            module. You can go through each module at your own
            pace. You can stop at any time and your progress will be
            saved. When you return, you will come back to this table of
            contents page where you can review what you have already
            learned, and proceed to complete the course.
        </div>
        <div class="span5 session-progress">
            <h4>Session Progress</h4>
            {% if user_profile|percent_complete:optionb == 0 %}
                <a href="{{user_profile|last_location_url:optionb}}" class="btn btn-large btn-primary pull-right">
                    Begin the Course <i class="icon-arrow-right icon-white"></i></a>
            {% else %}
                <div class="progress progress-striped">
                    <div class="bar" style="width: {{user_profile|percent_complete:optionb}}%;"></div>
                </div>
                <div>{{user_profile|sessions_completed:optionb}} of {{optionb.get_root.get_children|length}} sessions completed</div>
                <br />
                <a href="{{user_profile|last_location_url:optionb}}"" class="btn btn-large pull-right">
                    Continue <i class="icon-arrow-right"></i>
                </a>
                
                <div class="clearfix"></div>
                <dl class="dl-horizontal">
                    <dt>Pre-test score</dt><dd>{{user_profile|pretest_score:optionb}}%</dd>
                    <dt>Post-test score</dt><dd>{{user_profile|posttest_score:optionb}}%</dd>
                    {% comment %}
                    {% for session in optionb.get_root.get_children %}
                        <dt>Session {{forloop.counter}}</dt><dd>{{user_profile|session_score:session}}</dd>
                    {% endfor %}
                    {% endcomment %}
                </dl>
            {% endif %}
        </div>
    </div>
</div>