{% block tabcontent %}
    <div class="tab-pane" id="user-profile">
        <div id="pane-content">
        {% block tabtitle %}
            Your Profile
        {% endblock %}
    
        {% block tabbody %}


        <b>{{object}}</b><br />
        <table width="100%" class="table table-striped table-condensed">
            <tr>
                <b>Your name is:</b>
            </tr>
            <tr>
                <td>
                {{ user.first_name }}
                </td>
                <td>
                {{ request.user.last_name }}
                </td>
            </tr>
            <tr>
                <b>Your username is:</b>
            </tr>
            <tr>{{request.user.username}}</tr>
            <tr><b>You are in:</b></tr>
            <tr>{{object.country}}</tr>
            <tr>
            <td>
                {{object.icap_affil}}
            </td>
            <td><b>I am ICAP Affiliated</b></td>
            </tr>
            <tr><b>Your email:</b></tr>
            <tr>{{request.user.email}}</tr>

            <tr><b>Faculty Access:</b></tr>
            <tr>{{object.profile_type}}</tr>
        </table>
        </div>
        {% endblock %}
    {% endblock %}