<div class="tab-pane" id="user-groups">
    {% if object.profile_type == "IC" or object.profile_type == "CA" or object.profile_type == "TE" %}
        <h2>{{user.profile.school.name}}</h2>
        <h3 class="role">
            {% if object.profile_type == "TE" %}
                FACULTY ROLE
            {% endif %}
        </h3>
        
        <blockquote>
            {% if created_groups.count > 0 %}
                <div class="your-groups-created">
                    <h4>Groups you've created</h4>
                    <table width="100%" class="table table-striped table-condensed"> 
                        <tr><th>Name</th><th>Begin Date</th><th>End Date</th><th>Members</th><th>Actions</th>
                        {% for group in created_groups %}
                        <tr>
                            <td><a href="% url 'view-group' cc.id %}">{{group.name}}</a></td>
                            <td>{{group.formatted_start_date}}</td>
                            <td>{{group.formatted_end_date}}</td>
                            <td>{{group.userprofile_set.count}}</td>
                            <td>
                                <button class="btn btn-default btn-small edit-group">Edit</button>
                                <button class="btn btn-default btn-small archive-group">Archive</button>
                                {% if group.userprofile_set.count == 0 %}
                                    <button class="btn btn-default btn-small delete-group">Delete</button>
                                {% endif %}
                            </td>
                         </tr>
                         {% endfor %}
                     </table>
                </div>
            {% endif %}
                
            <h5>Create {% if created_groups.count > 0 %} More {% endif %}Groups</h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            <div><button class="btn btn-primary create-groups">Create a Group</button></div>

        </blockquote>
    {% endif %}
    
    <h3 class="role">STUDENT ROLE</h3>
    <blockquote>
        {% if user_profile.joined_groups.count > 0 %}
            <div class="your-groups">
                <h4>Groups you've joined</h4>
                <table width="100%" class="table table-striped table-condensed">
                    <tr><th>Name</th><th>Instructor</th><th>Begin Date</th><th>End Date</th><th>Action</th></tr>
                
                    {% for group in user_profile.joined_groups.all %}
                        <tr id="table-group-{{group.id}}" class="group-row">
                            <td><a href="/view_group_stats/group.pk/">{{group.name}}</a></td>
                            <td>{{group.creator.get_full_name}}</td>
                            <td>{{group.formatted_start_date}}</td>
                            <td>{{group.formatted_end_date}}</td>
                            <td>
                                <form action='/leave_group/' method='post'>
                                    <input type='hidden' name='group' value='{{group.id}}' />
                                    <button class="btn btn-default btn-small leave-group">Leave</button>
                                </form>
                            </td>
                    {% endfor %}
                    </tr>
                </table>
            </div>
        {% endif %}
    
        <div>
            <h5>Join {% if user_profile.jointed_groups.count > 0 %} More {% endif %}Groups</h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            <div><button class="btn btn-primary find-groups">Find a Group</button></div>
        
            <div class="action-container well find-group" method="post" style="display: none">{% csrf_token %}
                <button type="button" class="hide-container pull-right">&times;</button>
                <h4>Find Group</h4>
                <div class="fieldWrapper control-group country wide">
                    <label for="id_country"><b>Where is your institution located?</b></label>
                    <div class="controls">
                        <select id="id_country" name="country">
                        {% for choice in countries %}
                            <option value="{{choice.0}}">{{choice.1}}</option>
                        {% endfor %}
                        </select>
                        <div class="help-inline error no-schools" style="display: none">
                            Your selected country has no institutions.<br />
                            If you would like to have your school added, please <a href="/contact/">contact ICAP</a>.
                        </div>
                    </div>
                </div>
                <div class="fieldWrapper control-group school wide" style="display: none">
                    <label for="id_country"><b>Select your institution:</b></label>
                    <div id="schools-for-country" class="controls">
                        <select id="id_school" name="school"></select>
                        <div class="help-inline error no-schoolgroups" style="display: none">
                            Your selected institution has no groups.<br />
                            Please ask your instructor to create a group.
                        </div>
                    </div>
                </div>
                <div class="fieldWrapper control-group schoolgroup" style="display: none">
                    <table width="100%" class="table table-striped table-condensed"> 
                        <tr><th>Name</th><th>Begin Date</th><th>End Date</th><th>Instructor</th><th>Action</th></tr>
                    </table>
                </div>
                <div class="clearfix"></div>   
            </div>
        </div>
    </blockquote>
</div>




