<div class="tab-pane user-profile-form" id="user-profile">
    <h1 class="pageheader">Your Profile</h1>
    
    {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}    
    
    <form action="./#user-profile" method='post'>{% csrf_token %}
    
        {% if profile_form.errors|length %}
            <div class="alert alert-block alert-error">
              <strong>Please correct errors before continuing</strong>
              {% if profile_form.non_field_errors %}
                <div>{{profile_form.non_field_errors}}</div>
              {% endif %}
            </div>
        {% endif %}

        <div class="fieldWrapper control-group {% if profile_form.first_name.errors %}error{% endif %}">
            <label for="id_first_name"><b>Your name is:</b></label>
            <div class="controls">
                <span>
                    <input id="id_first_name" maxlength="50" name="first_name" type="text"
                     value="{% if profile_form.data.first_name %}{{profile_form.data.first_name}}{% else %}{{profile_form.initial.first_name}}{% endif %}"
                     placeholder="Given Name">
                </span>&nbsp;
                <span>
                    <input id="id_last_name" maxlength="50" name="last_name"
                     value="{% if profile_form.data.last_name %}{{profile_form.data.last_name}}{% else %}{{profile_form.initial.last_name}}{% endif %}"
                     type="text" placeholder="Surname">
                </span>
                
                {% if profile_form.first_name.errors or profile_form.last_name.errors %}
                    <div class="help-inline">First and last name are required</div>
                {% endif %}
            </div>
        </div>
        
        <div class="fieldWrapper control-group wide">
            <label for="id_username"><b>Your username:</b></label>
            <div class="controls">
                <input type="text" name="username" value="{{user.username}}" readonly='readonly' />
            </div>
        </div>

        <div class="fieldWrapper control-group {% if profile_form.email.errors %}error{% endif %} wide">
            <label for="id_email"><b>Your email address:</b> <small>(optional for students)</small></label>
            <div class="controls">
                {{profile_form.email}}
                {% if profile_form.email.errors %}
                    <div class="help-inline">{{profile_form.email.errors}}</div>
                {% endif %}
            </div>
        </div>        
        
        <div class="fieldWrapper control-group {% if profile_form.password1.errors %}error{% endif %} wide">
            <label for="id_password1"><b>Your password:</b></label>
            <div class="controls">
                {{profile_form.password1}}
                {% if profile_form.password1.errors %}
                    <div class="help-inline">{{profile_form.password1.errors}}</div>
                {% else %}
                    <div class="help-inline">
                        Leave blank to keep the same password
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="fieldWrapper control-group {% if profile_form.password2.errors %}error{% endif %} wide">
            <label for="id_password2"><b>Confirm your password:</b></label>
            <div class="controls">
                {{profile_form.password2}}
                {% if profile_form.password2.errors %}
                    <div class="help-inline">{{profile_form.password2.errors}}</div>
                {% else %}
                    <div class="help-inline">
                        Leave blank to keep the same password
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="fieldWrapper control-group {% if profile_form.language.errors %}error{% endif %} wide">
            <label for="id_language"><b>Which is your preferred language?</b> </label>
            <div class="controls">
                <select name="language">
                    {% for choice in profile_form.fields.language.choices %}
                        <option value="{{choice.0}}" 
                        {% if profile_form.data.language == choice.0 %}
                            selected="selected"
                        {% else %}{% if user.profile.language == choice.0 %}
                            selected="selected"
                        {% endif %}{% endif %}>{{choice.1}}</option>
                    {% endfor %}
                </select>
                {% if profile_form.language.errors %}
                    <div class="help-inline select">{{profile_form.language.errors}}</div>
                {% else %}
                    <div class="help-inline">
                        If you change languages part way through a learning module,
                        you will have to start from the beginning in the new language.
                    </div>
                {% endif %}
            </div>
        </div>
        
        {% if user_profile.is_student and not user_profile.is_pending_teacher %}
        <div class="fieldWrapper control-group {% if profile_form.country.errors %}error{% endif %} wide">
            <label for="id_country"><b>Which country are you in?</b></label>
            <div class="controls">
                <select name="country">
                    <option class="all-or-none-option" value="-----">-----</option>
                    {% for choice in countries %}
                        <option value="{{choice.0}}"
                            {% if profile_form.data.country == choice.0 or user_profile.country.name == choice.0 %}
                                selected="selected"
                            {% endif %}>
                            {{choice.1}}
                        </option>
                    {% endfor %}
                </select>
                {% if profile_form.country.errors %}
                    <div class="help-inline select">{{profile_form.country.errors}}</div>
                {% endif %}
            </div>
        </div>
        {% else %}
            <div class="fieldWrapper control-group wide">
                <label><b>Your country:</b></label>
                <div class="controls">
                    <input type="hidden" name="country" value="{{user_profile.country.name}}" /> 
                    {{user_profile.country.display_name}} 
                </div>
            </div>      
        {% endif %}
        <br />
        
        {% if user_profile.is_student %}
            {% if user_profile.is_pending_teacher %}
                <div class="fieldWrapper control-group">
                    <label><b>You have requested faculty access</b></label>
                    <div class="help-inline">
                    Faculty requests are sent to an ICAP administrator for approval.<br />
                    You will be notified when your access level has been changed.
                    </div>
                </div>
            {% else %} 
                <div class="fieldWrapper control-group faculty-access disabled">
                    <label class="checkbox">
                        <input id="id_profile_type" name="profile_type" type="checkbox"
                         {% if profile_form.data.profile_type == 'on' %} checked='checked' {% endif %}
                         disabled="disabled">
                        <b>I am requesting faculty-level access</b>
                    </label>
                    <div class="help-inline no-schools-available">
                        Faculty access is not available in your selected country.<br />
                        If you would like to have your school added, please <a href="/contact/">contact ICAP</a>.
                    </div>
                    <div class="help-inline well schools-available">
                        Faculty requests are sent to an ICAP administrator for approval.<br />
                        You will be notified when your access level has been changed.
                        <br /><br />
                        <div class="fieldWrapper control-group school {% if profile_form.school.errors %}error{% endif %}"
                            {% if profile_form.data.school %}data-school-id='{{profile_form.data.school}}'{% endif %}>
                            <label><b>What is your school?</b></label>
                            <div class="controls">
                                <select id="id_school" name="school">
                                    <option value="-----" class="all-or-none-option">-----</option>
                                </select>
                                {% if profile_form.school.errors %}
                                    <div class="help-inline select">{{profile_form.school.errors}}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}        
        {% else %}{% if user_profile.school %}
            <div class="fieldWrapper control-group wide">
                <label><b>Your school:</b></label>
                <div class="controls">
                    {{user_profile.school.name}}<br />
                    {{user_profile.school.country.display_name}} 
                </div>
            </div><br />
        {% endif %}{% endif %}
        
        <div class="fieldWrapper control-group">
            <label class="checkbox">
                {{profile_form.nepi_affiliated}} <b>I am affiliated with ICAP</b>
            </label>
        </div>
        <br />         

        <button class="btn btn-primary" type="submit">Update Profile</button>
    </form>

    <!-- Confirm Modal -->
    <div id="confirm-language-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmLanguageModal" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Confirm Language Change</h3>
      </div>
      <div class="modal-body">
        <p>Changing languages may cause you to lose progress in your learning modules. Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
        <button id="confirm-language-yes" class="btn btn-primary">Yes</button>
      </div>
    </div>
    
</div><!-- end #user-profile -->