{% load progressreport %}

<div class="tab-pane" id="user-groups">
    {% if not user_profile.is_student %}

        <blockquote>
            {% if user_profile.is_teacher or user_profile.is_institution_administrator %}
                <h4>{{user.profile.school.name}}</h4>
                <h4>{{user.profile.school.country.display_name}}</h4>
                <br />
            {% else %}{% if user_profile.is_country_administrator %}
                <h4>{{user.profile.country.display_name}}</h4>
            {% endif %}{% endif %}
            
            {% if managed_groups.count > 0 %}
                <div class="your-groups-created">
                    <h4>Groups You Manage</h4>
                    
                    <table width="100%" class="table table-striped table-condensed">
                        <tr>
                            <th>Country</th>
                            <th>School</th>
                            <th>Name</th>
                            <th>Begin</th>
                            <th>End</th>
                            <th>Members</th>
                            <th class="actions">Actions</th>
                        </tr>
                        
                        {% for group in managed_groups.all %}
                            <tr id="faculty-group-{{group.id}}" class="content-row">
                                <td>{{group.school.country.display_name}}</td>
                                <td>{{group.school.name}}</td>
                                <td>{{group.name}}</td>                                
                                <td>{{group.formatted_start_date}}</td>
                                <td>{{group.formatted_end_date}}</td>
                                <td class="text-center">{{group.students.count}}</td>
                                <td>
                                    <a class="btn btn-default btn-small" href="{% url 'group-details' group.id %}">Details</a>
                                    <button class="btn btn-default btn-small edit-group-button"
                                        data-pk="{{group.pk}}" data-start-date="{{group.formatted_start_date}}"
                                        data-end-date="{{group.formatted_end_date}}" data-name="{{group.name}}">
                                            Edit
                                    </button>
                                    <form action='/archive_group/' method='post'>
                                        <input type='hidden' name='group' value='{{group.id}}' />
                                        <button class="btn btn-default btn-small archive-group">Archive</button>
                                    </form>
                                    {% if group.userprofile_set.count == 0 %}
                                        <form action='/delete_group/' method='post'>
                                            <input type='hidden' name='group' value='{{group.id}}' />
                                            <button class="btn btn-default btn-small delete-group">Delete</button>
                                        </form>
                                    {% endif %}
                                </td>
                             </tr>
                         {% endfor %}
                     </table>
                </div>
            {% endif %}
            
            <div>
                <h5>Create</h5>
                You may create a group for students or trainees to join. You will have access to the scores and progress of the members of this group.
                <div><a href="#create-a-group" role="button" class="btn btn-primary create-group-button" data-toggle="modal">Create Group</a></div>
            </div>
        </blockquote>
    {% endif %}

    {% if not user_profile.is_student %}
    <h3 class="role">AS STUDENT</h3>
    {% endif %}
    <blockquote>
        {% if joined_groups.count > 0 %}
            <div class="your-groups">
                <h4>Groups you've joined</h4>
                <table width="100%" class="table table-striped table-condensed">
                    <tr><th>Name</th><th>Instructor</th><th>Begin Date</th><th>End Date</th><th>Progress</th><th>Actions</th></tr>
                
                    {% for group in joined_groups.all %}
                        <tr id="student-group-{{group.id}}" class="content-row">
                            <td>{{group.name}}</td>
                            <td>{{group.creator.get_full_name}}</td>
                            <td>{{group.formatted_start_date}}</td>
                            <td>{{group.formatted_end_date}}</td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="bar" style="width: {{user_profile|percent_complete:group.module.get_root}}%"></div>
                                </div>
                            </td>
                            <td>
                                <a href="{{user_profile|last_location_url:group.module}}" class="btn btn-default btn-small">
                                    Continue
                                </a>&nbsp;&nbsp;
                                <form action='/leave_group/' method='post'>
                                    <input type='hidden' name='group' value='{{group.id}}' />
                                    <button class="btn btn-default btn-small leave-group">Leave</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        
        <div>
            <h5>Join {% if joined_groups.count > 0 %} More {% endif %}Groups</h5>
            You may join one or more groups. When you join a group the group instructor will have access to your scores and progress.
            <div><a href="#find-a-group" role="button" class="btn btn-primary find-group-button" data-toggle="modal">Find a Group</a></div>
        </div>
    </blockquote>
        
    <div id="find-a-group" class="modal hide action-container">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h4>Find Group</h4>
        </div>
        <div class="modal-body find-group">
            <div class="fieldWrapper control-group country wide">
                <label><b>Where is your institution located?</b></label>
                <div class="controls">
                    <select name="country">
                        <option class="all-or-none-option" value="-----">-----</option>
                        {% for choice in countries %}
                            <option value="{{choice.0}}">{{choice.1}}</option>
                        {% endfor %}
                    </select>
                    <div class="help-inline error no-schools">
                        Your selected country has no institutions.<br />
                        If you would like to have your school added, please <a href="/contact/">contact ICAP</a>.
                    </div>
                </div>
            </div>
            <div class="fieldWrapper control-group school wide" style="display: none">
                <label><b>Select your institution:</b></label>
                <div class="controls">
                    <select  name="school">
                        <option class="all-or-none-option" value="-----">-----</option>
                    </select>
                    <div class="help-inline error no-schoolgroups">
                        Your selected institution has no available groups.<br />
                        Please ask your instructor to create a group.
                    </div>
                </div>
            </div>
            <div class="fieldWrapper control-group schoolgroup" style="display: none">
                <table width="100%" class="table table-striped table-condensed"> 
                    <tr><th>Name</th><th>Begin Date</th><th>End Date</th><th>Instructor</th><th>Action</th></tr>
                </table>
            </div>
            <div class="clearfix"></div>   
        </div>
    </div>
    
    <div id="create-a-group" class="modal hide action-container">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h4>Create Group</h4>
        </div>
        <div class="modal-body">
            <form class="action-container create-group" action='/create_group/' method="post">{% csrf_token %}
                <div class="fieldWrapper control-group country wide">
                    <label><b>Country</b></label>
                    <div class="controls">
                        <select name="country">
                            <option class="all-or-none-option" value="-----">-----</option>
                            {% for choice in countries %}
                                <option value="{{choice.0}}">{{choice.1}}</option>
                            {% endfor %}
                        </select>
                        <div class="help-inline error no-schools">
                            Your selected country has no institutions.<br />
                            If you would like to have your school added, please <a href="/contact/">contact ICAP</a>.
                        </div>
                    </div>
                </div>
                <div class="fieldWrapper control-group school wide" style="display: none">
                    <label><b>Select your institution:</b></label>
                    <div class="controls">
                        <select name="school">
                            <option class="all-or-none-option" value="-----">-----</option>
                        </select>
                        <div class="help-inline error school">
                            Please select an institution.
                        </div>
                    </div>
                </div>
                <div class="fieldWrapper control-group start_date wide">
                    <label><b>Begin Date:</b></label>
                    <div class="controls">
                        <input name="start_date" type="text" size="16" class="datepicker"/> 
                        <img class="calendar"  style="vertical-align:middle;" src="/site_media/img/calendar.gif" alt="calendar icon"/>
        
                        <div class="help-inline error start_date">
                            Please specify a valid date. Begin date must be before the end date.
                        </div>
                    </div>
                </div>
                <div class="fieldWrapper control-group end_date wide">
                    <label><b>End Date:</b></label>
                    <div class="controls">
                        <input name="end_date" type="text" size="16" class="datepicker" /> 
                        <img class="calendar" style="vertical-align:middle;" src="/site_media/img/calendar.gif" alt="calendar icon"/>
                        <div class="help-inline error end_date">
                            Please specify a valid date. End date must be after the begin date.
                        </div>
                    </div>
                </div>
                <div class="fieldWrapper control-group name wide">
                    <label><b>Name:</b></label>
                    <div class="controls">
                        <input name="name" type="text" />
                        <div class="help-inline error name">
                            This field is required.
                        </div>
                    </div>
                </div>
                <input type='hidden' name='module' value='main' />
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Create Group</button>
            </form>
        </div>
    </div>
    
    <div id="edit-a-group" class="modal hide">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h4>Edit Group</h4>
        </div>
        <div class="modal-body">
            <form class="action-container edit-group" action='/edit_group/' method="post">{% csrf_token %}         
                <input type="hidden" name="pk" value="" />
                <div class="fieldWrapper control-group start_date wide">
                    <label><b>Begin Date:</b></label>
                    <div class="controls">
                        <input name="start_date" type="text" size="16" class="datepicker" /> 
                        <img class="calendar" style="vertical-align:middle;" src="/site_media/img/calendar.gif" alt="calendar icon"/>
                        <div class="help-inline error start_date">
                            Please specify a valid date. Begin date must be before the end date.
                        </div>
                    </div>
                </div>
                <div class="fieldWrapper control-group end_date wide">
                    <label><b>End Date:</b></label>
                    <div class="controls">
                        <input name="end_date" type="text" size="16" class="datepicker" /> 
                        <img class="calendar" style="vertical-align:middle;" src="/site_media/img/calendar.gif" alt="calendar icon"/>
                        <div class="help-inline error end_date">
                            Please specify a valid date. End date must be after the begin date.
                        </div>
                    </div>
                </div>
                <div class="fieldWrapper control-group name wide">
                    <label><b>Name:</b></label>
                    <div class="controls">
                        <input name="name" type="text" />
                        <div class="help-inline error name">
                            This field is required.
                        </div>
                    </div>
                </div>
                <input type='hidden' name='module' value='main' />
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>




