<ul class="nav nav-tabs dashboard-nav">
    <li class="active">
        <a href="#user-modules" data-toggle="tab">
            Option B+
        </a>
    </li>

    <li>
        <a href="#user-groups" data-toggle="tab">
            Groups
        </a>
    </li>

    {% comment %}
    {% if not user_profile.is_student %}
    <li>
        <a href="#reports" data-toggle="tab">
            Reports
        </a>
    </li>
    {% endif %}
    {% endcomment %}

    <li>
        <a href="#user-profile" data-toggle="tab">
            Profile
        </a>
    </li>
    
    {% if user_profile.is_institution_administrator or user_profile.is_country_administrator or user_profile.is_icap %}
    <li>
        <a href="#pending-teachers" data-toggle="tab">
            Pending Teachers
        </a>
    </li>
    {% endif %}

    {% comment %}
    <li>
        <a href="#resources" data-toggle="tab">
            Resources
        </a>
    </li>
    {% endcomment %}

</ul>