<ul class="nav nav-tabs dashboard-nav">
    <li class="active">
        <a href="#user-modules" data-toggle="tab">
            Option B+
        </a>
    </li>

    <li>
        <a href="#user-groups" data-toggle="tab">
            Groups
        </a>
    </li>

    {% comment %}
    {% if user_profile.profile_type == "IC" or user_profile.profile_type == "TE" %}
    <li>
        <a href="#user-reports" data-toggle="tab">
            Reports
        </a>
    </li>
    {% endif %}
    {% endcomment %}

    <li>
        <a href="#user-profile" data-toggle="tab">
            Profile
        </a>
    </li>
    
    {% if object.profile_type == "IC" or object.profile_type == "CA" %}
    <li>
        <a href="#pending-teachers" data-toggle="tab">
            Pending Teachers
        </a>
    </li>
    {% endif %}

    {% comment %}
    <li>
        <a href="#user-resources" data-toggle="tab">
            Resources
        </a>
    </li>
    {% endcomment %}

</ul>