{% block course_stats %}

<div><h5> Your groups > Group title > Progress Report </h5></div>

<b>Course</b>
<table width="100%" class="table table-striped">
<div id="group_info"><input type="hidden" name="group" value="{{object.pk}}"/></div>
<tr><th><td><b>{{object.name}}</b></td><td><b>{{object.start_date}}</b></td><td><b>{{object.end_date}}</b></td><td><b>{{object.module}}</b></td></th><tr>
<tr>
    <td>
        {{object.start_date}}
        {{start_date}}
    </td>
    <td>
        {{object.end_date}}
        {{end_date}}
    </td>
    <td>
        {{object.school}}
    </td>
    <td>
        {{object.module}}
    </td>
</tr>

{% for uc in students %}
    <tr>
        <td>{{uc.user.first_name}}</td>
        <td>{{uc.user.last_name}}</td>
        <td>{{uc.user.username}}</td>
        <td><div id="remove_student"><button name="remove">Remove Student</button></div></td>
    </tr>
{% empty %}
   <tr>
       <td>
           <p>You have not joined any groups yet.</p>
       </td>
   </tr> 
{% endfor %}

</table>
<script>
            var group_id = jQuery("#group_info input[name='group']").val();
            jQuery("#remove_student").on("click", 
            function()
            {    
                jQuery.ajax(
                {
                    url: "/remove_student/",
                    type: "POST",
                    data: {'group' : group_id, 'student' : student_id },                  
                    error: function(data) 
                    {
                        alert("There was an error submitting your form.");
                    }
                });
            });


<br />
<br />
<br />
<table width="100%" class="table table-striped">
<tr><th><b>Module: Option B+ (60% complete)</b></th><tr>
<tr><td>Pre-test score:</td><td></td><td></td></tr>
<tr><td>Post-test score:</td><td></td><td></td></tr>
</table>
Session 1 score: 100%
Session 2 score: 50%
Session 3 score: 60%
Session 4 score: Incomplete
Session 5 score: Incomplete
Session 6 score: Incomplete
Average session score:
2. Please clarify how "average" is to be calculated
when there are sessions that are incomplete.
{% endblock %}