{% block course_stats %}

<div><h3> Your groups > Group title > Progress Report </h3></div>
<table width="100%" class="table table-striped">
<tr><th><b>Module: Option B+ (60% complete)</b></th><tr>
<tr><td>Pre-test score:</td><td></td><td></td></tr>
<tr><td>Post-test score:</td><td></td><td></td></tr>

Session 1 score: 100%
Session 2 score: 50%
Session 3 score: 60%
Session 4 score: Incomplete
Session 5 score: Incomplete
Session 6 score: Incomplete
Average session score:
2. Please clarify how "average" is to be calculated
when there are sessions that are incomplete.
{% endblock %}