.pageblock.s3_act_01 {
	margin: 0 0 350px 0;
}

#artcardsections {
	float: left;
	display: block;
	position: absolute;
	width: 1100px;
}

.artcard.section {
	display: block;
	/*background-color: #fff;*/
	cursor: pointer;
}

#followupblock {
	position: absolute;
	left: 135px;
	top: -297px;
	width: 53px;
	height: 45px;
	border: solid 5px #83D0D7;
}

#adherenceblock {
	position: absolute;
	left: 755px;
	top: -223px;
	width: 39px;
	height: 17px;
	border: solid 5px #F3B564;
}

#whyblock {
	position: absolute;
	left: 755px;
	top: -201px;
	width: 40px;
	height: 15px;
	border: solid 5px #D95F50;
}

#regimenblock {
	position: absolute;
	left: 804px;
	top: -223px;
	width: 56px;
	height: 77px;
	border: solid 5px #64C0F3;
}


.ex_titlefollow, .ex_titlead, .ex_titlewhy, .ex_titleregimen
{	
	text-align: center;
	width: 50%;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px 10px 0 0;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-top: solid 1px #ccc;
	border-bottom: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.ex_content {
	width: 50%;
	margin: 0 auto;
	text-align: left;
	padding: 10px 20px 20px 20px;
	border-radius: 0 0 10px 10px;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	border-top: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.ex_titlefollow {
	background-color: #83D0D7;
	color: #fff;
	font-weight: bold;
	font-family: Arial, helvetica, sans-serif;
	font-size: 1.25em;
}

.ex_titlead {
	background-color: #F3B564;
	color: #fff;
	font-weight: bold;
	font-family: Arial, helvetica, sans-serif;
	font-size: 1.25em;
}

.ex_titlewhy {
	background-color: #D95F50;
	color: #fff;
	font-weight: bold;
	font-family: Arial, helvetica, sans-serif;
	font-size: 1.25em;
}

.ex_titleregimen {
	background-color: #64C0F3;
	color: #fff;
	font-weight: bold;
	font-family: Arial, helvetica, sans-serif;
	font-size: 1.25em;
}

#followupblock:hover, #adherenceblock:hover, #whyblock:hover, #regimenblock:hover {
	border: solid 5px #ccc;
}

.ex_content table {
	margin: 20px 0 0 0;
}

.ex_content table td {
	border: solid 1px #000;
	padding: 5px;
	margin: 0 auto;
}
