.pageblock.s3_act_01 {
	margin: 0 0 200px 0;
}

#artcardsections {
	float: left;
	display: block;
	position: absolute;
}

.artcard.section {
	display: block;
	/*background-color: #fff;*/
	cursor: pointer;
}

#followupblock {
	position: absolute;
	left: 135px;
	top: -297px;
	width: 57px;
	height: 150px;
	border: solid 3px #000;
}

#adherenceblock {
	position: absolute;
	left: 756px;
	top: -222px;
	width: 43px;
	height: 19px;
	border: solid 3px #5385DF;
}

#whyblock {
	position: absolute;
	left: 756px;
	top: -200px;
	width: 43px;
	height: 18px;
	border: solid 3px #000;
}

#regimenblock {
	position: absolute;
	left: 805px;
	top: -222px;
	width: 60px;
	height: 83px;
	border: solid 3px #000;
}