.module-retention-in-care h3 {
	text-align: center;
}

.daysofweek div {
	float: left;
	display: inline;
	width: 12.5%;
	margin: .55%;
	text-align: center;
	font-weight: bold;
	color: #333;
}

#month {
	width: 95%;
	display: block;
	float: left;
	background-color: #d9eaf5;
	border-radius: 10px;
	border: solid 2px #c7e3f5;
	padding: 10px;
	margin: 0 0 45px 0;
}

#month div {
	float: left;
	display: inline;
	width: 12.5%;
	height: 35px;
	padding: 55px 0;
	text-align: center;
	background-color: #fff;
	border: solid 3px #c7e3f5;
	margin: .55%;
	cursor: pointer;
	color: #333;
	font-family: Arial, helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
}

#month.April div:first-child {
	margin-left: 307px;
}

#month.August div:first-child {
	margin-left: 900px;
}

#month.April:hover div:first-child {
margin-left: 307px;
}

#month.August:hover div:first-child {
margin-left: 900px;
}


#month div:hover {
	float: left;
	display: inline;
	width: 12.5%;
	height: 35px;
	padding: 55px 0;
	text-align: center;
	background-color: #ebf7ff;
	border: solid 3px #c7e3f5;
	margin: .55%;
	cursor: pointer;
}

#month div.day.visited {
	background-color: #c7e3f5;
	color: #f5f5f5;
}


/* Modal */

#myModal .modal-body button {
	margin: 0 auto;
}
