

.dosage-clipboard {
	background-color: #d9eaf5;
	padding: 25px;
	border-radius: 60px;
	clear: both;
}

.dosage-clipboard:hover  {
	background-color: #c7e3f5;
	padding: 25px;
	border-radius: 60px;
}

/** dosage activity **/
.dosage-clipboard {
    float: right;
    cursor: pointer;
}

.dosage-clipboard-popover {
    position: absolute;
    width: 400px;
    z-index: 1010;
/*     top: 0; */
/*     left: 0; */
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #d9eaf5;
    border: 1px solid #c7e3f5;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.dosage-clipboard-content {
    padding: 20px;
}

.dosage-clipboard-content button.close {
    float: right;
    margin-top: -14px;
    margin-right: -10px;
}

.dosage-clipboard-content table {
	width: 100%;
    border: 0;
    border-spacing: 5px;
    border-collapse: separate;
    margin-left: -5px;
    margin-top: 10px;
}

.dosage-clipboard-content table tr {
    border: 0;
}

.dosage-clipboard-content table tr td {
	width: 50%;
    background-color: #fff;
    border: 0;
    padding: 5px;
    font-size: .9em;
}

.dosage-activity .dosage-question {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.dosage-activity .control-group {
    clear: both;
    width: 50%;
    margin: 0 auto;    
}

.dosage-activity .control-group label {
    float: left;
    width: 200px;
    margin: 7px 0 32px 0;
}

.dosage-activity .control-group .controls {
    float: left;
}

.dosage-activity .control-group input[type='text'] {
    width: 50px;
    margin-right: 5px;
}

.dosage-activity .explanation {
	clear: both;
	width: 65%;
	margin: 30px auto;
	padding: 20px;
	position: relative;
	top: 3px;
	background-color: #fff6cf;
	border-radius: 10px;
	border: solid 1px #eecf4b;
}

.dosage-activity .alert {
    margin-left: 10px;
}

.module-art-infant #submit-btn {
	clear: both;
}


