.act_desc {
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #eee;
	text-align: center;
	margin-bottom: 20px;
}

.pageblock.s2_act1 {
	text-align: center;
}

.parts {
	background-color: #fff;
	border-radius: 10px;
	color: #888;
	border: solid 4px #80b6e6;
	float: left;
	padding: 10px;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.5em;
}

.parts.mouth {
	position: relative;
	top: -370px;
	left: 570px;
}

.parts:hover {
	background-color: #80b6e6;
	color: #fff;
	border: solid 4px #80b6e6;
	
}