.act_desc {
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #eee;
	text-align: center;
	margin-bottom: 20px;
}

.pageblock.s2_act1 {
	text-align: center;
}

.parts.mouth, .parts.eyes, .parts.chair, .parts.chart {
	background-color: #fff;
	border-radius: 10px;
	color: #888;
	border: solid 4px #80b6e6;
	float: left;
	padding: 10px;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.5em;
}

.parts.mouth {
	position: relative;
	top: -370px;
	left: 570px;
}

.parts.eyes {
	position: relative;
	top: -431px;
	left: 522px;
}

.parts.chair {
	position: relative;
	top: -250px;
	left: 670px;
}

.parts.chart {
	position: relative;
	top: -236px;
	left: 272px;
}

.parts:hover {
	background-color: #80b6e6;
	color: #fff;
	border: solid 4px #80b6e6;
	
}

#explanation_box {
	float: left;
	clear: both;
	min-width: 100%;
	padding: 10px;
	border: solid 1px #eee;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

