{% extends 'base.html' %}

{% block content %}


<div class="hero-unit">


<h2>Teachers Awaiting Confirmation</h2>
<table cellspacing="0" class="infotable" summary="Module List">
	<colgroup span="3" id="coursetablecols">
	<col class="name" />
	<col class="sections" />
	<col class="time to complete" />
	<col class="last visited" />
	</colgroup>
					
<thead>
	<tr>
		<th>	First Name	</th>	<th>	Last Name		</th>	<th>	School	</th>   <th>	Country	</th>
	</tr>
</thead>


<tbody>
{% for cf in conf_teach%}
<tr>
	<td>{{ cf.user.first_name }}</td>
	<td>{{ cf.user.last_name }}</td>
	<td>{{ cf.school.name }}</td>
	<td>{{ cf.userprofile.country }}</td>
	<td><a href="../confirm/{{ cf.userprofile.id }}/{{ cf.school.id }}/">Confirm</a></td>
	<td><a href="../deny/{{ cf.userprofile.id }}/{{ cf.school.id }}">Deny</a></td>
</tr>
{%endfor%}

</tbody>
</table>


{% for ul in user_list%}
<p>{{ ul.first_name }}{{ ul.last_name }}</p>
{%endfor%}
{% for pl in profile_list%}
<p>{{ pl.country }}</p>
{%endfor%}
{% for sl in school_list%}
<p>{{ sl.name }}</p>
{%endfor%}



<p></p>
</div>
{% endblock %}