{% load markup %}
<script>
$( document ).ready(function() {

    console.log("document ready");
});
function showAnswer(questionId) {
    console.log("onclick called short answer function");
    var qid = "#q" + questionId;
    console.log("div id is " + qid);
    var display_type = $(qid).css("display");
    console.log(display_type);
    $(qid).css("display", "block");

    //$(qid).toggle();
    //$(qid).css('visibility', 'visible');
    //alert(qid);
    //document.getElementById(qid).css('visibility', 'visible');
}
</script>
<ol type="A">
  {% for answer in question.answer_set.all %}
      <li><input name="question{{question.id}}" value="{{answer.label}}" type="radio" onClick="showAnswer({{question.id}})"/>{{answer.label}}</li>
  {% endfor %}
</ol>

<div id="q{{question.id}}" style="display:none">
           <i>The correct answer is {{question.correct_answer_letter}}:</i>
           {{question.explanation|markdown}}
</div>

  {% if question.answerable %}
    {% if question.is_single_choice %}
      {% include 'quizblock/single_choice_show_answer.html' %}
    {% endif %}
    {% if question.is_multiple_choice %}
       {% include 'quizblock/multiple_choice_show_answer.html' %}
    {% endif %}
  {% else %}
    {% include 'quizblock/long_answer_show_answer.html' %}
  {% endif %}
