{% load markup %}

{% if block.rhetorical %}
    <textarea rows="5" name="question{{question.id}}" ></textarea>
{% else %}
  {% if response %}
    {% if block.allow_redo %}
        <textarea rows="5" name="pageblock-{{block.pageblock.id}}-question{{question.id}}" >{{response.value}}</textarea>
    {% else %}
        <textarea rows="5" name="pageblock-{{block.pageblock.id}}-question{{question.id}}" disabled="disabled">{{response.value}}</textarea>
    {% endif %}
  {% else %}
        <textarea rows="5" name="pageblock-{{block.pageblock.id}}-question{{question.id}}" ></textarea>
  {% endif %}
{% endif %}
