{% load markup %}
{% if block.rhetorical %}
      <div class="casesanswerdisplay">
        <a href="#q{{question.id}}" class="moretoggle">Show answer(s) &gt;&gt;</a>
        <div id="q{{question.id}}" class="toggleable">
          <p><i>The correct answer(s):</i></p>
      	  <ul style="list-style-type: none">
      	    {% for answer in question.answer_set.all %}
              {% if answer.correct %}
                <li>
      	          <span class="correctanswer">
                    <span class="answer-inner">{{forloop.counter}}. {{answer.label}}</span>
                  </span>
                </li>
                {%endif%}
      	    {% endfor %}
      	  </ul>
          <p>{{question.explanation|markdown}}</p>
        </div>
      </div>
{% else %}
  <p>{{question.explanation|markdown}}</p>
{% endif %}
