{% load markup %}

<ol class="caseanswers">
{% for answer in question.answer_set.all %}
    {% if block.rhetorical %}
        <li><input name="question{{question.id}}" value="{{answer.label}}" type="radio" /> {{answer.label|safe}}</li>
    {% else %}
        <li>
            {% spaceless %}
            <input name="pageblock-{{block.pageblock.id}}-question{{question.id}}"
                   value="{{answer.value}}" type="radio"
                   {% if response %}
                       disabled="disabled"
                       {% ifequal response.value answer.value %}checked="checked"{% endifequal %}
                       class="
                       {% if 'show_correct' in block.pageblock.css_extra %}
                           {% if answer.correct %}correct{% else %}incorrect{% endif %}
                       {% endif %}
                       "
                   {% endif %} />
                &nbsp;{{answer.label|safe}}
            {% endspaceless %}
        </li>
    {% endif %}
{% endfor %}
</ol>
<div class="visualclear"></div>