{% spaceless %}
<ol class="caseanswers">
    {% for answer in question.answer_set.all %}
        <li class="{% if 'show-correct' in block.pageblock.css_extra and response %}
                   {% if answer.correct %}correct{% else %}incorrect{% endif %}{% endif %}">
            <label>
                <input name="pageblock-{{block.pageblock.id}}-question{{question.id}}"
                       value="{{answer.value}}" type="radio"
                       {% if response %}
                       disabled="disabled"
                       {% if response.value == answer.value %}
                       checked="checked"
                       {% endif %}
                       {% endif %} />
                &nbsp;{{answer.label|safe}}
            </label>
        </li>
    {% endfor %}
</ol>
{% endspaceless %}
<div class="clearfix"></div>
