{% extends "base.html" %}
{% load i18n admin_static %}
{% block title %}Add a School{% endblock %}
{% block content %}

		<div id="breadcrumbbar">
		<span class="here">You are Here:</span>  
				&gt; 	Add School
		</div>
		
		<div id="container">
			<h2>	Add School	</h2>
			<form action="." method="post">{% csrf_token %}
			    {{ form.non_field_errors}}
                <fieldset>
				<legend>School Information</legend>

                    <div class="fieldWrapper">
                    {{ form.name.errors }}
					<label for="name">	 School Name:</label>
					{{ form.name}}
					<br/><br/>
					</div>

                    <div class="fieldWrapper">
                    {{ form.country.errors }}
					<label for="country">	Country:</label>
					{{ form.country}}
					<br/><br/>
					</div>

					<label for="addschool">	</label>
					<input id="addschool" type="submit" value="Add School" />
				</fieldset>
			</form>
			
		</div>

	
{% endblock %}