        <div id="pane-content">
        <script>
            var country_change = jQuery('#id_country');

            country_change.change(
                function(){

                jQuery.ajax({
                    url: "/get_schools/",
                    data: { 'name' : jQuery('#id_country').val()},
                    success: function (data) {
                        jQuery('#school_list').replaceWith(data)
                    },
                    error: function (data) {
                        //alert(data);
                    },

                });

            });


        //var school_change = jQuery('#id_school');
        //alert(jQuery('#id_school'));


        </script>
        
        <form action="/join_course/" method="post">{% csrf_token %}
        <div id="country_list">
            <select id="id_country" name="country" >
                <option value="blank">------</option>
                {% for c in object_list %}
                    <option value="{{c.id}}">{{c.name}}</option>
                {% empty %}
                    <p>Oh no! there are no countries.</p>
                {% endfor %}
            </select>
        </div>
        <div id="school_list"></div>
        <div id="course_list"></div>
</form>

</div>



