        <div id="pane-content">
        <script>
        var country_change = jQuery('#id_country');
        id_country.change(
            function(){
                jQuery.get( "get_schools/" +jQuery('#id_country').val()+ "/", function() {
                //jQuery( "#id_school" ).html( data );
                alert( "Load was performed." );
         });

        //country_change.change(
        //    function()
        //    {
        //        alert(jQuery('#id_country').val());

        //        jQuery('#user-courses').post('/join_course/', {'country': jQuery('#id_country').val()} );})
        //institution_change.change(function(){jQuery('#user-courses').load('/join_course/');})
        //alert("boo");
        //join_btn.click(function(){jQuery('#user-courses').load('/join_course/');})
        </script>
        
        <form action="/join_course/" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
        </form>
        
        </div>
