{% block primarynavtabs %}
    <nav class="slide-out-menu">
        <div class="toggle-primary-toc pull-right">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="pull-left primary-toc">
            {% for s in menu %}
                <a  href="{{s.url}}"
                    class="primary-menu-{{s.depth}} 
                        {% if s.disabled %}disabled{% endif %}">
                    {{s.label}}
                </a>
            {% endfor %}
        </div>
    </nav>
{% endblock %}