{% block primarynavtabs %}
    <nav class="slide-out-menu transition">
        <div class="toggle-primary-toc pull-right">
            <img src="{{STATIC_URL}}img/toc_icon.png" />
        </div>
        <div class="pull-left primary-toc">
            <ul>
            {% for s in menu %}
                <li>
                <a href="{{s.url}}" data-id="{{s.id}}"
                   class="primary-menu-{{s.depth}}{% if s.id == section.id %} current{% endif %}{% if s.disabled %} disabled{% endif %}">{{s.label}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </nav>
{% endblock %}
