{% extends "base.html" %}
{% load i18n admin_static %}
{% block title %}Sign up for an account{% endblock %}
{% block content %}
<script type="type/javascript">
function show_teacher_form()
{


}
</script>

		<div id="breadcrumbbar">
		<span class="here">You are Here:</span>  
				&gt; 	Create Account
		</div>
		
		<div id="container">
			<h2>	Create Account	</h2>
			<form action="." method="post">{% csrf_token %}
			    <span style="color:red">{{ form.non_field_errors}}</span>
                <fieldset>
		<legend>Account Information</legend>

		{% for field in form %}
     		    <div class="fieldWrapper">
      		    <span style="color:red">{{ field.errors }}</span>
        	    {{ field.label_tag }} {{ field }}
     		    </div>
   		{% endfor %}

		<br/><br/>
		<label for="createaccount">	</label>
		<input id="createaccount" type="submit" value="Create Account" />
		</fieldset>
				
		</form>
			
		</div>
    <div class="p">
    If you already have a username or password, but have forgotten either,
        <a href="/register/">reset them here</a>.
    </div>
	
{% endblock %}



