{% extends "base.html" %}
{% load i18n admin_static %}
{% block title %}Sign up for an account{% endblock %}
{% block content %}

		<div id="breadcrumbbar">
		<span class="here">You are Here:</span>  
				&gt; 	Create Account
		</div>
		
		<div id="container">
			<h2>	Create Account	</h2>
			<form action="." method="post">{% csrf_token %}
			    {{ form.non_field_errors}}
                <fieldset>
				<legend>Account Information</legend>

                    <div class="fieldWrapper">
                    {{ form.username.errors }}
					<label for="username">	Username:</label>
					{{ form.username}}
					<br/><br/>
					</div>

                    <div class="fieldWrapper">
                    {{ form.email.errors }}
					<label for="email">	Email:</label>
					{{ form.email}}
					<br/><br/>
					</div>

                    <div class="fieldWrapper">
                    {{ form.first_name.errors }}
					<label for="first_name">	First Name:</label>
					{{ form.first_name}}
					<br/><br/>
                    </div>

                    <div class="fieldWrapper">
                    {{ form.last_name.errors }}
					<label for="last_name">	Last Name:</label>
					{{ form.last_name}}
					<br/><br/>
					</div>

                    <div class="fieldWrapper">
                    {{ form.password1.errors }}
					<label for="password1">	Password:</label>
					{{ form.password1}}
					<br/><br/>
                    {{ form.password2.errors }}
					<label for="password2">	Password:</label>
					{{ form.password2}}
					<br/><br/>
					</div>

                    <div class="fieldWrapper">
                    {{ form.country.errors }}
					<label for="country">	Country:</label>
					{{ form.country}}
					<br/><br/>
					</div>

					<!--<div class="fieldWrapper">
                    {{ form.school.errors }}
					<label for="school">	School:</label>
					{{ form.school }}
					<br/><br/>
					</div>-->

					<div class="fieldWrapper">
                    {{ form.is_teacher.errors }}
					<label for="is_teacher">	Are you a teacher or a student?</label>
					{{ form.is_teacher }}
					<br/><br/>
					</div>

					<br/><br/>
					<label for="createaccount">	</label>
					<input id="createaccount" type="submit" value="Create Account" />
				</fieldset>
				<button class='js-captcha-refresh'></button>
			</form>
			
		</div>
    <div class="p">
    If you already have a username or password, but have forgotten either,
        <a href="/register/">reset them here</a>.
    </div>
	
{% endblock %}



