{% extends 'base.html' %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    var join_btn = jQuery('#join_course_button');
    
    join_btn.click(function(){jQuery('#user-courses').load('/join_course/');})



    var frm = jQuery('#join_course');
    var school_list = jQuery('#school_list');
    var course_list = jQuery('#course_list');
    frm.submit(
      function () {
        jQuery.ajax({
             type: frm.attr('method'),
             url: frm.attr('action'),
             data: frm.serialize(),
             success: function (data) {
                 jQuery(".modal-body").html("Course added!</br>");
             },
             error: function(data) {
                 jQuery(".modal-body").html("Something went wrong!");
             }
         }

         );
         return false;
     });

     var refresh_bttn = jQuery('#refresh');
     refresh_bttn.click(
       function(){

         location.reload();



     });



</script>
{% endblock %}




{% block content %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#user-modules" data-toggle="tab">Option B+</a></li>
    <li><a href="#user-courses" data-toggle="tab">Groups</a></li>
    <li><a href="#user-profile" data-toggle="tab">Profile</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="user-modules">
        <table width="100%" class="table table-striped">
        {% for um in user_modules %}
        <tr>
            <td><a href="{{um.get_absolute_url}}">
            {{um.name}}</a></td>
            <td> User Progress</td>
        </tr>
        {% empty %}
        <p>Tell User they should associate themselves with a group.</p>
        {% endfor %}

        {% for m in modules %}
        <tr>
            <a href="{{m.get_absolute_url}}">
            {{m.name}}</a>
        </tr>
        {% empty %}
        <p>No Modules Yet.</p>
        {% endfor %}
        </table>
    </div>


    <div class="tab-pane" id="user-courses">
        <div id="pane-content">
             <table width="100%" class="table table-striped table-condensed">
                  <p>Your Groups</p>
                  {% for uc in user_courses %}
                      <tr>
                      <td><a href="{{uc.get_absolute_url}}">{{uc.name}}</a></td>
                      </tr>
                  {% empty %}
                      <div name="instruction-div"><tr> There should be an instruction div of somesorts here to tell first timers what to do.</tr></div>
                      <tr><p>You have not joined any groups yet.</p>
                      <button id="join_course_button">Join Course</button>
                      <a href="/join_course/">Join Course</a></tr>
                  {% endfor %}
             </table><button data-toggle="modal" data-target="#basicModal" class="btn btn-sm btn-success" type="button"> Add Course </button></br>
        </div>
    </div>


    <div class="tab-pane" id="user-profile">
        <table width="100%" class="table table-striped table-condensed">
        <tr>
            <td>
                <h2><a href="">User Profile Will Be displayed as Form</a></h2>
            </td>
        </tr>
        </table>
    </div>
    
    
    
    
    
    
    
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onClick=refresh_page();> x </button>
             <h4 class="modal-title" id="myModalLabel">Join Course</h4>
             </div>
             <div class="modal-body">
             <form id="create_course" action="/create_new_course/" method="post">{% csrf_token %}
             {{ form.as_p }}
             <input type="submit" value="Submit"/>
             </form>
             </div>
             <div class="modal-footer">
             
             <button id="refresh" type="button" class="btn btn-primary">Save changes</button>
         </div>
     </div>
   </div>
</div>
    
    
    
{% endblock%}
