{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#user-modules" data-toggle="tab">Option B+</a></li>
    <li><a href="#user-courses" data-toggle="tab">Groups</a></li>
    <li><a href="#user-profile" data-toggle="tab">Profile</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="user-modules">
        <table width="100%" class="table table-striped">
        {% for um in user_modules %}
        <tr>
            <td><a href="{{um.get_absolute_url}}">
            {{um.name}}</a></td>
            <td> User Progress</td>
        </tr>
        {% empty %}
        <p>Tell User they should associate themselves with a group.</p>
        {% endfor %}

        {% for m in modules %}
        <tr>
            <a href="{{m.get_absolute_url}}">
            {{m.name}}</a>
        </tr>
        {% empty %}
        <p>No Modules Yet.</p>
        {% endfor %}
        </table>
    </div>


    <div class="tab-pane" id="user-courses">
        <table width="100%" class="table table-striped table-condensed">
        {% for uc in user_courses %}
            <tr>
            <td><a href="{{uc.get_absolute_url}}">{{uc.name}}</a></td>
            </tr>
        {% empty %}
            <tr><p>You have not joined any groups yet.</p><a href="/join_course/"></tr>
        {% endfor %}
        </table>
    </div>


    <div class="tab-pane" id="user-profile">
        <table width="100%" class="table table-striped table-condensed">
        <tr>
            <td>
                <h2><a href="">User Profile Will Be displayed as Form</a></h2>
            </td>
        </tr>
        </table>
    </div>
{% endblock%}
