

{% block tabcontent %}
   {% block tabtitle %}{% endblock %}
   {% block tabbody %}{% endblock %}
{% endblock %}

    <div class="tab-pane" id="reports">
        <div id="pane-content">
             <table width="100%" class="table table-striped table-condensed">
                  <b><p>Your Groups</p></b>
                  {% for uc in user_courses %}
                      <tr>
                      <td><a href="{{uc.get_absolute_url}}">{{uc.name}}</a></td>
                      </tr>
                  {% empty %}
                      <div name="instruction-div"><tr> There should be an instruction div of somesorts here to tell first timers what to do.</tr></div>
                      <tr><p>You have not joined any groups yet.</p>
                      <button id="join_course_button">Join Course</button>
                      <a href="/join_course/">Join Course</a></tr>
                  {% endfor %}
             </table><button data-toggle="modal" data-target="#basicModal" class="btn btn-sm btn-success" type="button"> Add Course </button></br>
        </div>
    </div>
    
        <div class="tab-pane" id="user-profile">
        <table width="100%" class="table table-striped table-condensed">
        <tr>
            <td>
                <h2><a href="">User Profile Will Be displayed as Form</a></h2>
            </td>
        </tr>
        </table>


        <table width="100%" class="table table-striped table-condensed">
        <h4>Your Profile</hr>
        {{user_profile}}{{user_profile.user}}{{request.user.username}}{{user.first_name}}
        <form action="." method="post">
        <tr><td> First Name: <input type="text" name="first_name" value="{{user.first_name}}"> </td><td> Last Name: <input type="text" name="last_name" value="{{user.last_name}}"> </td></tr>
        <tr><td> Your username is: {{user.username}}</td></tr>
        <tr><td> Password: <input type="password" name="password1"> </td></tr>
        <tr><td> Confirm Password: <input type="password" name="password2"> </td></tr>
        <tr><td> <input type="checkbox" name="icap_affil" value="{{userprofile.icap_affil}}"> I am in an ICAP Program</td></tr>
        <tr><td> </td></tr>
        <tr><td> <input type="Submit" value="Submit"> </td></tr>
        
        </form>
        </table>
    </div>