{% extends 'base.html' %}
{% block js %}
<script type="text/javascript">
//$(document).ready(function() {


    // $('a').click(function() {
    // 	alert(this.name);
    //     var id = this.name;
    //     var country  = this.id;
    //     var postData = JSON.stringify({'name' : id});
    //     alert(postData);
    //     $.ajax({
    //     	type : "POST",
    //     	url : "/find_course/" + id + "/",
    //     	data: {'name' : id},
    //     	dataType: "json",
    //     	contentType : "application/json",
    //     	done : function(){alert("done message");},
    //     	error : function(){alert("error message");},
    // 	    success : function(){alert("success message"); }
    // 	    //fail: function(e){confirm("Error", e.message);}

    //     });

    // });

//});
</script>



{% endblock %}
{% block content %}
<div class="hero-unit">
<h2>Schools in {{country}}</h2>
<p>{% for s in schools%} <tr> <td>{{s.name}}</td><td>{{s.country}}</td><td><a href="/view_courses/{{s.id}}/">View School Courses</a></td> </tr> {%endfor%}</p>


</div>

{% endblock %}