{% extends "base.html" %}
{% load i18n %}


{% block content %}
<script type="text/javascript">
$('.js-captcha-refresh').click(function(){
    $form = $(this).parents('form');

    $.getJSON($(this).data('url'), {}, function(json) {
        // This your should update captcha image src and captcha hidden input
    });

    return false;
});
</script>
<form action='.' method='POST'>
    {{ form }}
    <input type="submit" />
    <button class='js-captcha-refresh'></button>
</form>







{% endblock %}