{% extends "base.html" %}
{% load progressreport %}
{% load i18n %}

{% block title %}
    Confirm Language Choice
{% endblock %}

{% block js %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('a.change-language').click(function() {
                jQuery(this).parent().fadeOut(function() {
                    jQuery("#change-language").fadeIn();
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <p>
        {{user}}
        {% trans 'You are beginning Option B+ in' %} {{user.profile.language_description}}. 
        {% trans 'If you change languages part way through, you will have to start from the beginning in the new language.' %}
    </p>
    <div class="pull-right">
        <a href="#" class="btn pull-left change-language">{% trans 'Change Language' %}</a>        
        <a href="{{user.profile|last_location_url:optionb}}" class="btn btn-primary pull-left]">{% trans 'Continue' %}</a>
    </div>
    
    <div id="change-language">
        <form action="{% url 'set_language' %}" method="post">
            <input name="next" type="hidden" value="{{user.profile|last_location_url:optionb}}" />
            <select name="language">
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}"
                    {% if user.profile.language == LANGUAGE_CODE %} selected="selected"{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
                {% endfor %}
            </select>
            <input type="submit" value="Change Language" />
        </form>            
    </div>    
{% endblock %}