{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Contact ICAP' %}
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/captcha.js"></script>
{% endblock %}

{% block languageswitcher %}
    {% include "main/languageswitcher.html" %}
{% endblock %}

{% block pagetitle %}
    <h1 class="pageheader">
        {% trans 'Contact ICAP' %}
    </h1>
{% endblock %}


{% block content %}
    <div class="contact-icap">
        <form action="/contact/" method="post">{% csrf_token %}
            {% if form.errors|length %}
                <div class="alert alert-block alert-error">
                    <strong>
                    {% trans 'Please correct the errors below' %}
                    </strong>
                </div>
            {% endif %}
      
            <div class="fieldWrapper control-group {% if form.first_name.errors %}error{% endif %}">
                <label for="id_first_name">
                    <b>{% trans 'Your name is' %}:</b>
                </label>
                <div class="controls">
                <span>
                    <input id="id_first_name" maxlength="50" name="first_name" type="text"
                        value="{{form.data.first_name}}" placeholder="{% trans 'Given Name' %}">
                </span>&nbsp;&nbsp;
                <span>
                    <input id="id_last_name" maxlength="50" name="last_name"
                      value="{{form.data.last_name}}"
                      type="text" placeholder="{% trans 'Surname' %}">
                 </span>
                {% if form.first_name.errors or form.last_name.errors %}
                <div class="help-inline">
                    {% trans 'First and last name are required' %}
                </div>
                {% endif %}
        </div>
      </div>
      <div class="fieldWrapper control-group {% if form.sender.errors %}error{% endif %} wide">
        <label for="id_sender">
          <b>
            {% trans 'Your email address' %}:
          </b>
        </label>
        <div class="controls">
          {{form.sender}}
          {% if form.sender.errors %}
            <div class="help-inline">
              {% trans 'This field is required' %}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="fieldWrapper control-group {% if form.subject.errors %}error{% endif %} wide">
        <label for="id_subject">
          <b>
            {% trans 'Subject' %}:
          </b>
        </label>
        <div class="controls">
          {{form.subject}}
          {% if form.subject.errors %}
            <div class="help-inline">
              {% trans 'This field is required' %}
            </div>
          {% endif %}
        </div>
      </div>
    
    <div class="fieldWrapper control-group {% if form.message.errors %}error{% endif %} wide">
        <label for="id_message">
          <b>
            {% trans 'Message' %}:
          </b>
        </label>
        <div class="controls">
          {{form.message}}
          {% if form.message.errors %}
            <div class="help-inline">
              {% trans 'This field is required' %}
            </div>
          {% endif %}
        </div>
      </div>    
    
      <div class="fieldWrapper control-group {% if form.captcha.errors %}error{% endif %}">
        <label for="id_captcha_0">
          <div>
            <b>
              {% trans 'Please verify you are a person' %}:
            </b>
          </div>
        </label>
        <div class="controls">
          {{form.captcha}} 
          {% if form.captcha.errors %} 
            <span class="help-inline">
              {% trans 'This field is required' %}
            </span>
          {% endif %}
        </div>
      </div>
      <div class="help-inline captcha">
        {% trans 'Type the characters you see in the picture' %}. 
        <br />
        <button class="btn btn-default js-captcha-refresh">
          {% trans 'Refresh the image' %}
        </button>
         {% trans "if you can't read the picture" %}.
       <br />
     </div>
    <br />
    <input type="submit" value="{% trans 'Send Message' %}" class="btn btn-primary" />
    </form>
  </div>    
{% endblock %}