{% extends "base.html" %}

{% block title %}
    Contact ICAP
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/captcha.js"></script>
{% endblock %}

{% block content %}
  <script src="{{STATIC_URL}}js/changelanguage.js"></script>
  <div class="btn-group">
    <button id=langChoice" type="button" 
            class="btn btn-primary dropdown-toggle" 
            data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
      Language
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="langChoice">
      <li><a class="dropdown-item switch-lang chng-lang" data-lang="en">English</a></li>
      <li><a class="dropdown-item switch-lang chng-lang" data-lang="fr">French</a></li>
      <li><a class="dropdown-item switch-lang chng-lang" data-lang="pt">Portuguese</a></li>
    </ul>
  </div>      
  <div class="contact-icap">
    <h1>
      Entre em contato com ICAP
    </h1>
    <form action="/contact/" method="post">
      {% csrf_token %}
      {% if form.errors|length %}
        <div class="alert alert-block alert-error">
          <strong>
            Please correct errors before continuing
          </strong>
          {% if form.non_field_errors %}
            <div>
              {{ form.non_field_errors}}
            </div>
          {% endif %}
        </div>
      {% endif %}
      <div class="fieldWrapper control-group 
      {% if form.first_name.errors %}error{% endif %}">
        <label for="id_first_name">
          <b>
            Seu nome é:
          </b>
        </label>
        <div class="controls">
          <span>
            <input id="id_first_name" maxlength="50" name="first_name" type="text"
              value="{{form.data.first_name}}" placeholder="Primeiro nome">
          </span>&nbsp;&nbsp;
          <span>
            <input id="id_last_name" maxlength="50" name="last_name"
              value="{{form.data.last_name}}"
              type="text" placeholder="Sobrenome">
         </span>
          {% if form.first_name.errors or form.last_name.errors %}
            <div class="help-inline">
              First and last name are required
            </div>
          {% endif %}
        </div>
      </div>
      <div class="fieldWrapper control-group 
      {% if form.sender.errors %}error{% endif %} wide">
        <label for="id_sender">
          <b>
            Seu endereço de e-mail:
          </b>
        </label>
        <div class="controls">
          {{form.sender}}
          {% if form.sender.errors %}
            <div class="help-inline">
              {{form.sender.errors}}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="fieldWrapper control-group 
      {% if form.subject.errors %}error{% endif %} wide">
        <label for="id_subject">
          <b>
            Assunto:
          </b>
        </label>
        <div class="controls">
          {{form.subject}}
          {% if form.subject.errors %}
            <div class="help-inline">
              {{form.subject.errors}}
            </div>
          {% endif %}
        </div>
      </div>
    
    <div class="fieldWrapper control-group 
    {% if form.message.errors %}error{% endif %} wide">
        <label for="id_message">
          <b>
            Mensagem:
          </b>
        </label>
        <div class="controls">
          {{form.message}}
          {% if form.message.errors %}
            <div class="help-inline">
              {{form.message.errors}}
            </div>
          {% endif %}
        </div>
      </div>    
    
      <div class="fieldWrapper control-group 
      {% if form.captcha.errors %}error{% endif %}">
        <label for="id_captcha_0">
          <div>
            <b>
              Favor verificar que você é uma pessoa:
            </b>
          </div>
        </label>
        <div class="controls">
          {{form.captcha}} 
          {% if form.captcha.errors %} 
            <span class="help-inline">
              {{form.captcha.errors}}
            </span>
          {% endif %}
        </div>
      </div>
      <div class="help-inline captcha">
        Digite os caracteres que você visualiza na imagem.
        <br />
        <button class="btn btn-default js-captcha-refresh">
          Atualize a imagem 
        </button>
         se você não conseguir ler a imagem.
       <br />
     </div>
    <br />
    <input type="submit" value="Envie a mensagem" class="btn btn-primary" />
    </form>
  </div>    
{% endblock %}




