{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans 'Help' %}
{% endblock %}

{% block languageswitcher %}
    {% include "main/languageswitcher.html" %}
{% endblock %}

{% block pagetitle %}
    <h1 class="pageheader">
        {% trans 'Help' %}
    </h1>
{% endblock %}

{% block content %}
    {% blocktrans trimmed %}
    <h3 class="pageheader">Certification</h3>
    To obtain a certificate for completion of the Option B+ elearning course, please go to the East, 
    Central and Southern Africa Colleges of Nursing (ECSACON) website: 
    <a href="http://cpd.ecsacon.org/">http://cpd.ecsacon.org/</a>. Users who complete the post-test 
    and score above 80% will receive a certificate for six hours of continuing professional 
    development credit from ECSACON.

    <h3 class="pageheader">Technical Support Contact</h3>
    For problems related to the online environment please contact
    <a href="mailto:ctl-dev@columbia.edu">ctl-dev@columbia.edu</a>
    <h3 class="pageheader">ICAP contact</h3>
    For questions or requests to join the elearning platform as a
    participating country/school please contact ccnmtl-icap@columbia.edu
    <h3 class="pageheader">Creating an Account</h3>
    To create an account visit https://elearning.icap.columbia.edu/register/
    <h3 class="pageheader">Logging in</h3>
    To log in enter your user name and password here
    https://elearning.icap.columbia.edu/accounts/login/
    <h3 class="pageheader">Changing your password</h3>
    If you provided a valid email address when you registered you can
    request password change at any time. Visit
    https://elearning.icap.columbia.edu/accounts/password_reset/
    <h3 class="pageheader">Dashboard</h3>
    After you log in you will see your dashboard. You will see tabs for the
    Option B+ Course, Groups and Profile. The Dashboard is the place where
    you will return to see your progress in the course, join groups (i.e.
    classes) and see and edit your profile.
    <h3 class="pageheader">Option B+ Tab</h3>
    <p>On the Option B+ Tab you will see a blue button that says "Begin
    the Course." When you click this button you will go to the first
    page of the course.</p>
    <p>After you've first visited the course, you can return to this tab
    to see your scores and progress through the course.</p>
    <h3 class="pageheader">Groups Tab</h3>
    <p>A group is a class at a university or a training course. If you
    are a faculty you may create a group. If you are a student you may
    join a group. You may have been told to find and join your Option B+
    class. This means that your instructor has created a group at your
    university or organization for you to join. Once you've joined your
    group, your instructor will have access to your scores and progress
    through the system.</p>
    
    <h3 class="pageheader">To join a group as a student</h3>
    <p>Click "find a group" choice, choose your country, choose your
        school or institution, choose the group</p>
    <p>If you don't see your group, this means that your instructor
        hasn't created one yet and you will need to try again later.</p>
    
    <h3 class="pageheader">Profile Tab</h3>
    <p>On the Profile Tab you will see the information you entered when
        you registered. You can edit your name, password, and country
        affiliation. If you are faculty, you can request faculty access
        here.</p>
    
    <h3 class="pageheader">Option B+ Course</h3>
    <p>Once you've entered the course, you will see the first page of
        the course or where you left off.</p>
    <p>You will see the an icon shaped like a book on the upper left.
        This is the table of contents. Click the book to open the table of
        contents.</p>
    <p>At the bottom of the page is a "next" button. Use this button to
        move forward to the next page.</p>
    <p>The Option B+ Course contains a pre and post text, informational
        slides, short case studies with questions and interactive
        activities. You must complete one page before moving onto the next.
        You can go back at any time. You can use the table of contents to go
        back to a specific page you've visited before.</p>
    
    <h3 class="pageheader">FOR FACULTY</h3>
    <h3 class="pageheader">Groups</h3>
    <p>To see your student's scores you must create a group and then
        your students must join it. To create a group:</p>
    <ul>
        <li>go to your groups tab</li>
        <li>click "create group"</li>
        <li>your country and institution are already selected for you</li>
        <li>set the beginning and ending dates for your course.</li>
        <li>click "create group"</li>
        <li>Now that you've created a group, it is your students'
            responsibility to find and join this group.</li>
    </ul>
    
    <h3 class="pageheader">Group Information and Scores</h3>
    <p>You can view information about your groups the scores your
        students received on the pre and post tests and view their progress
        through the Option B+ Course.</p>
    <p>Go to your groups tab. Next to the name of each group is a button
        labeled 'details' Click Details</p>
    <p>Now you can see some information about your group, including
        number of members, and how far each student in the group has
        progressed through the course.</p>
    {% endblocktrans %} 

{% endblock %}
