{% extends "base.html" %}

{% block content %}


	<div class="hero-unit">
		<h2>Welcome to LearnNEPI!</h2>
			<p>LearnNEPI will ...
				Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
	<a href="{{hierarchy.get_absolute_url}}" id="next">{{hierarchy.label}}</a>
        <a href="{{section.get_absolute_url}}" id="next">{{section.label}}</a>
            {% with root.get_children.0 as s %}  
	<a href="/pages/main/edit/" id="next"> Main </a>

                 {% endwith %}
	</div>
{% endblock %}
