{% extends "base.html" %}
{% block content %}

<h2>Choose a Login Option...</h2>

{% comment %}
<div>
    <div style="padding-bottom: 5px">
        <h6>Columbia Users:</h6>
        <form method="get" action="{{ wind_base }}login">
            <input type="hidden" name="service" value="{{ wind_service }}"></input>
            <input type="hidden" name="destination" value="http://{{ request.get_host }}/accounts/windlogin/?next={{ next }}"></input>
            <input type="submit" value="Log In with Columbia UNI"></input>
        </form>
    </div>
</div>
<div>
        <form method="get" action="{{ wind_base }}login">
        <input type="hidden" name="service" value="{{ wind_service }}" />
        <input type="hidden" name="destination" value="http://{{ request.get_host }}/accounts/windlogin/?next={{ next }}" />
        <h2>For Columbia University users:</h2>
        <div class="uni-login"><input class="regbutton" type="submit" value="UNI LOG IN" />
        </div>
        </form>
 </div>   
{% endcomment %}

<form method="get" action="{{ wind_base }}login" class="well">
<input type="hidden" name="service" value="{{ wind_service }}" />
<input type="hidden" name="destination" value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/windlogin/?next={{ next }}" />
<p>If you have a Columbia University Network ID
        (UNI)... </p><input type="submit" value="LOG IN" class="btn btn-primary"/></p>
</form>

<form method="post" action="." class="well">
    {% csrf_token %}
<p>If you have a project account...</p>

<label for="id_username">Username: {{ form.username }}</label>
<label for="id_password">Password: {{ form.password }}</label>

<input type="submit" value="LOG IN" class="btn btn-primary" />
<!-- <input type="hidden" name="next" value="{{ next }}" /> -->
</form>

<p>Don't have an account? Register now. <a href="{% url 'main:register' %}" title="Create your new project account">Create an account</a>.</p>
{% endblock %}


