{% extends 'pagetree/edit_page.html' %}
{% load render %}
{% block title %}Edit Overview &mdash; {{section.label}}{% endblock %}

{% block pagemode %}
    <div id="edit-page-nav" class="clearfix">
      <ul class="nav nav-pills pull-right">
        <li><a href="{{section.get_absolute_url}}">View</a></li>
        <li class="active"><a href="{{section.get_edit_url}}">Edit</a></li>
      </ul>
      <div class="mode">
        page mode:
      </div>
    </div><!-- #edit-page-nav -->
{% endblock %}






{% block content-nav %}
<ul class="pager">
{% if not section.is_root %}
{% if section.get_previous %}
  <li class="previous">
		<a href="{% url 'edit-overview' section.get_previous.get_path %}">&larr; {{section.get_previous.label}}</a>
  </li>
{% endif %}
{% endif %}

{% if section.get_next %}
{% with section.get_next as next_section %}
<li class="next"><a href="{% url 'edit-overview' section.get_next.get_path %}">{{section.get_next.label}} &rarr;</a></li>
{% endwith %}
{% endif %}
</ul>

{% endblock %}