{% extends "base.html" %}
{% load render %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/site_media/js/chapter_marker_player.js"></script>
    <script type="text/javascript" src="/site_media/js/json2.js"></script>
    {% for block in section.pageblock_set.all %}
        {% renderjs block %}
    {% endfor %}
{% endblock %}

{% block css %}
    {{ block.super }}
    {% for block in section.pageblock_set.all %}
        {% rendercss block %}
    {% endfor %}
{% endblock %}

{% block module_slug %}{{module.slug}}{% endblock %}

{% block title %}{{section.label}}{% endblock %}
{% block extrahead %}
    {{ block.super }}
    {% for block in section.pageblock_set.all %}
        {% rendercss block %}
    {% endfor %}
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    {% for block in section.pageblock_set.all %}
        {% renderjs block %}
    {% endfor %}
{% endblock %}
{% block pagetitle %}<h2 class="pagetitle">{{section.label}}</h2>{% endblock %}

{% block primarynavtabs %}
    {% if user.is_authenticated %}
        {% include "project_primary_nav.html" %}
    {% endif %}
{% endblock %}

{% block extraprimarynav %}
    {% if user.is_authenticated %}
    <ul class="nav pull-right">
        <li><a href="{{section.get_edit_url}}">Edit Page</a></li>        
    </ul>
    {% endif %}
{% endblock %}

{% block sidenav %}
        <!-- ###### Secondary Navigation ###### -->
        {% if module.get_children %}
        {% include "main/menu.html" %}
        {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul>
       {% for breadcrumb in path %}
                <li><a href ="{{breadcrumb.get_absolute_url}}">{{breadcrumb}}</a><span class="divider">/</span></li>
       {% endfor %}        
            
  </ul>
{% endblock breadcrumbs %}

{% block content %}
    <div id="content" class ="module-{{module.slug}}">

    {% if needs_submit %}
    {% if is_submitted %}
    {% else %}
    <form action="." method="post">
    {% endif %}
    {% endif %}


    {% for block in section.pageblock_set.all %}
        <div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">
            {% if block.label %}<h4>{{block.label}}</h4>{% endif %}
            {% render block %}
        </div>
    {% endfor %}

    {% if needs_submit %}
        {% if request.user.is_anonymous %}
        {% else %}    
            {% if is_submitted %}
                {% if allow_redo %}
                    <form action="." method="post">
                    <input type="hidden" name="action" value="reset" />
                    <input type="submit" value="clear your answers and try again" class="btn" />
                    </form>
                {% endif %}
            {% else %}
                <input type="submit" value="Submit" class="btn btn-primary" />
            </form>
            {% endif %}
        {% endif %}
    {% endif %}

</div>

{% block content-nav %}
<ul class="pager">
{% if not section.is_root %}
{% if section.get_previous %}
  <li class="previous">
		<a href="{{ section.get_previous.get_absolute_url }}">&larr; {{section.get_previous.label}}</a>
  </li>
{% endif %}
{% endif %}

{% if section.get_next %}
{% with section.get_next as next_section %}
<li class="next"><a href="{{ section.get_next.get_absolute_url }}">{{section.get_next.label}} &rarr;</a></li>
{% endwith %}
{% endif %}
</ul>



{% endblock %}


{% comment %}

    <div class="content-nav">
        <ul class="pager">
        {% if section.has_next %}
            <li class="next">
                <a href="{{next.get_absolute_url}}" id="next" class="pager_button"><b>&larr;</b> {{next.label}}</a>
            </li>
        {% endif %}

        {% if previous %}
            <li class="previous">
                <a href="{{previous.get_absolute_url}}" id="previous" class="pager_button"><b>&larr;</b> {{previous.label}}</a>
            </li>
        {% endif %}
        {% if next %}
            <li class="next">
            {% if not next.is_root %}
                {% if next_unlocked %}
                    <a href="{{next.get_absolute_url}}" id="next" class="pager_button">{{next.label}} <b>&rarr;</b></a>
                {% else %}
                    <div id="next" class="pager_button">{{next.label}} <b>&rarr;</b></div>
                {% endif %}
            {% endif %}
            </li>
        {% endif %}
        </ul>
    </div><!-- div id="content-nav" -->
{% endcomment %}
{% endblock %}
