{% extends "base.html" %}
{% load render %}
{% load accessible %}
{% load i18n %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}js/json2.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/util.js"></script>
    {% for block in section.pageblock_set.all %}
        {% renderjs block %}
    {% endfor %}
    
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var initialSection = jQuery("a[data-id='{{section.id}}']")[0];
            
            jQuery("body").delegate('a.disabled', 'click', function() {
                return false;  // call preventDefault and stopPropagation by default
            });
            
            jQuery("body").delegate("div.pageblock.numeric-only input[type='text']",
                    'keypress', validate_numeric_input);
            
            jQuery("form").submit(function(evt) {
                if (!is_form_complete(this)) {
                    evt.stopImmediatePropagation();
                    alert("Please complete all form fields before continuing.");
                    return false;
                } else {
                    return true;
                }
            });
            
            // Sliding menu
            jQuery("body").delegate('.toggle-primary-toc', 'click', function() {
                jQuery('.slide-out-menu').toggleClass('open transition');
                if (initialSection) {
                    // scroll to the current section in the toc.
                    // this scroll needs to be completed after the show
                    // to ensure the position is correct
                    var top = jQuery(initialSection).position().top +
                        jQuery(".slide-out-menu div.primary-toc").scrollTop() - 30;
                    if (top < 0) { top = 0; }
                    jQuery(".slide-out-menu .primary-toc").scrollTop(top);
                    initialSection = undefined;
                }
            });
            jQuery("body").delegate('.slide-out-menu a', 'click', function() {
                if (jQuery(this).hasClass('disabled')) {
                    return false;
                } else {
                    jQuery('.slide-out-menu').toggleClass('open');
                    window.location = jQuery(this).attr(href);
                }
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    {% for block in section.pageblock_set.all %}
        {% rendercss block %}
    {% endfor %}
{% endblock %}

{% block module_slug %}{{module.slug}}{% endblock %}

{% block title %}{{section.label}}{% endblock %}
{% block extrahead %}
    {{ block.super }}
    {% for block in section.pageblock_set.all %}
        {% rendercss block %}
    {% endfor %}
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    {% for block in section.pageblock_set.all %}
        {% renderjs block %}
    {% endfor %}
{% endblock %}

{% block toc %}
    {% if user.is_authenticated %}
        {% include "project_primary_nav.html" %}
    {% endif %}
{% endblock %}

{% block pagetitle %}
    <h4 class="pagetitle">{{section.label}}</h4>
{% endblock %}

{% block usernav_extra %}
    {% if user.is_superuser %}
        <a href="{{section.get_edit_url}}">Edit Page</a>        
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <ul>
        {% for breadcrumb in path %}
            <li><a href ="{{breadcrumb.get_absolute_url}}">{{breadcrumb}}</a><span class="divider">/</span></li>
        {% endfor %}
    </ul>
{% endblock breadcrumbs %}

{% block content %}
<div class="module-{{module.slug}}">

    {% if needs_submit %}
        {% if is_submitted %}
        {% else %}
        <form action="." method="post">
        {% endif %}
    {% endif %}

    {% for block in section.pageblock_set.all %}
        <div class="hierarchy-{{section.hierarchy.name|slugify}} pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">
            {% if block.label %}<h4>{{block.label}}</h4>{% endif %}
            {% render block %}
        </div>
    {% endfor %}

    <div id="submit-btn">
        {% if needs_submit %}
            {% if request.user.is_anonymous %}
            {% else %}    
                {% if is_submitted %}
                    {% if allow_redo %}
                        <form action="." method="post">
                            <input type="hidden" name="action" value="reset" />
                            <input type="submit" value="{% trans 'Try again' %}" class="btn btn-default" />
                        </form>
                    {% else %}{% if user.is_superuser %}
                        <form action="." method="post">
                            <div>
                                <input type="hidden" name="action" value="reset" />
                                <input type="submit" id="generic-reset" value="Clear Responses (superuser only)" class="btn btn-default" />
                                <div style="clear: both"></div>
                            </div>
                        </form>
                    {% endif %}{% endif %}
                {% else %}
                    <input id="page-submit" type="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
                    <div style="clear: both"></div>
                </form>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}

{% block contentnav %}
{% with previous=section.get_previous next_section=section.get_next %}
    <ul class="pager">
        {% if not section.is_root and previous%}
          <li class="previous">
                <a href="{{ previous.get_absolute_url }}">&larr; {% trans 'Previous' %}</a>
          </li>
        {% endif %}
        
        {% if next_section %}
            <li class="next">
                <a href="{{ next_section.get_absolute_url }}"
                 class="{% ifsubmitted section %}{% else %}disabled{%endifsubmitted%}">
                    {% trans 'Next' %} &rarr;
                </a>
            </li>
        {% endif %}
    </ul>
{% endwith %}
{% endblock %}

