{% extends "base.html" %}
{% load i18n admin_static %}
{% block title %} Thank you for creating an account!{% endblock %}
{% block content %}

		<div id="breadcrumbbar">
		<span class="here">You are Here:</span>  
				&gt; 	Account Created
		</div>
		
		<div id="container">
			<h2>	Thank you for creating an account!	</h2>
			<p>You have requested teacher status, your request will be sent to ICAP for confirmation. Meanwhile you may browse and use the site as a student until your teacher status is confirmed.</p>
		</div>

    <div class="p">
    You can now login and start using NEPI!
        <a href="/">Login</a>.
    </div>
	
{% endblock %}