{% extends 'base.html' %}
{% block content %}
<div class="hero-unit">
<h2>Courses at {{school.name}}</h2>
{% if courses%}
{% for c in courses%}
<table cellspacing="0" class="infotable" summary="Course List">
	<colgroup span="3" id="coursetablecols">
	<col class="name" />
	<col class="module" />
	<col class="teacher" />
	<col class="semester" />
	<col class="start date" />
	<col class="end date" />
	</colgroup>
					
<thead>
	<tr>
		<th>	Course Name	</th>	<th>	Module		</th><th>	Teacher		</th>	<th>	Semester	</th> <th>	Start Date	</th>   <th>	End Date	</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>{{c.name}}</td>
		<td>{{c.module}}</td>
		<td>{{c.teacher}}</td>
		<td>{{c.semester}}</td>
		<td>{{c.start_date}}</td>
		<td>{{c.end_date}}</td>
		<td><a href="/add_course/{{ c.pk }}/">Join Course</a></td>
	</tr>
{%endfor%}
</tbody>

</table>
{% else %}
<p>No courses have been listed for this school yet.</p>
{% endif %}
</div>

{% endblock %}