{% extends 'base.html' %}
{% block js %}
<script>
    var join_btn = jQuery('#join_course_button');
    join_btn.click(function(){jQuery('#join_course').load('/get_countries/');});
    
    var add_btn = jQuery('#add_course_button');
    add_btn.click(function(){jQuery('#add_course_div').load('/add_course/');});
    
    jQuery('#report_form').load('/get_countries/');
    
    var profilebtn = jQuery('#user-profile-button');
    profilebtn.click(function(){jQuery('#new_profile').load('/update_profile/{{user_profile.pk}}/');});
    
    
    
    var onDelete = function()
    {
            jQuery.post(this.href, function(data)
            {   
                if (data.result == "ok")
                {
                    alert("Course deleted successfully");
                    location.reload();
                } else
                {
                    // handle error processed by server here
                    alert("smth goes wrong");
                }
            }).fail(function()
            {
                // handle unexpected error here
                alert("error");
            });
            return false;
    };//end of on delete

    jQuery(".delete_link").click(onDelete);
    
    

    
   

    
    
</script>
{% endblock %}

{% block content %}
 <input type="hidden" value={{user.pk}}>
<ul class="nav nav-tabs">
    <li class="active"><a href="#user-modules" data-toggle="tab">Option B+</a></li>
    <li><a href="#user-courses" data-toggle="tab">Groups</a></li>
    {% if user_profile.profile_type == "IC" %}<li><a href="#reports" data-toggle="tab">Reports</a></li>{% endif %}
    <li><a href="#user-profile" data-toggle="tab">Profile</a></li>
    {% if user_profile.profile_type == "IC" %}<li><a href="#pending-teachers" data-toggle="tab">Pending-Teachers</a></li>{% endif %}
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="user-modules">
    <b>Option B+</b>
	<p>This is a placeholder for one-paragraph description of the
	module. You can go through each module at your own
	pace. You can stop at any time and your progress will be
	saved. When you return, you will come back to this table of
	contents page where you can review what you have already
	learned, and proceed to complete the course. </p>
    
    
    
        <table width="100%" class="table table-striped">
        {% for um in user_modules %}
        <tr>
            <td><a href="{{um.get_absolute_url}}">
            {{um.name}}</a></td>
            <td> User Progress</td>
        </tr>
        {% empty %}
        <p>Tell User they should associate themselves with a group.</p>
        {% endfor %}

        {% for m in modules %}
        <tr>
            <a href="{{m.get_absolute_url}}">
            {{m.name}}</a>
        </tr>
        {% empty %}
        <p>No Modules Yet.</p>
        {% endfor %}
        </table>
    </div>













    <div class="tab-pane" id="user-courses">
        <div id="pane-content">
                 <div id="groups_created">
                     <b><p>Groups You've Created: </p></b>
                     <table width="100%" class="table table-striped table-condensed"> 
                     {% for cc in created_courses %}
                         <tr>
                             <td>
                                 <a href="{{cc.module.get_absolute_url}}">{{cc.name}}</a>
                             </td>
                             {% if cc.userprofile_set.count == 0 %}
                                 <td>
                                     <div><a href="{% url 'delete-course' cc.id %}" class="delete_link">Delete Course</a></div>
                                 </td>
                             {% endif %}
                         </tr>
                     {% empty %}
                         
                         <tr><p>You have not created any groups yet.</p></tr>
                     {% endfor %}
                     </table>
                     <div id="add_course_div">
                     </div>
                     
                     
                     
                     <div id="course_creation">
                     <a href="/create_course/">Create Course</a> <button id="add_course_button">Add Course</button>
                     <button id="create_course_button">Create Course</button>
                     </div>
                 </div>
                  
             
            
            
             
               <div id="groups_joined">
                  <b><p>Groups You've Joined: </p></b>
                   {% for uc in joined_courses %}
                      <tr>
                      <td><a href="{{uc.get_absolute_url}}">{{uc.name}}</a></td>
                      <td><a href="/view_course_stats/uc.pk/">see progress</a></td><button id="progress_button">See Progress</button>
                      </tr>
                  {% empty %}
                      <div name="instruction-div">
                          <tr> There should be an instruction div of some sorts here to tell first timers what to do.</tr>
                      </div>
                      <div>
                          <tr><p>You have not joined any groups yet.</p></tr>
                      </div> 
                  {% endfor %}
                  <div id="join_course">
                      <button id="join_course_button">Join Course</button>
                  </div> 
                  
                  <div id="student_stats"></div>
                  
                  
             </div>

             
        </div>
    </div>
   
    
    
    
{% if user_profile.profile_type == "IC" %}
    <div class="tab-pane" id="reports">
        <div id="pane-content">
            <b><p>View aggregate report for:</p></b>
			<div id="report_form"> </div>
            
            <button data-toggle="modal" data-target="#basicModal" class="btn btn-sm btn-success" type="button"> Download Full Report </button></br>
            <table width="100%" class="table table-striped table-condensed">
            <tr><td>Members</td><td>Total</td><td>Completed</td><td>Incomplete</td><td>In Progress</td></tr>
            <tr><td></td><td>{{students}}</td><td>{{done}}</td><td>{{incomplete}}</td><td>{{in_progress}}</td></tr>
            </table>
            
            <div name="time_aggregate">Users completing at: <input type="select"></div></br>
            <b>Averages for {{students}} completed users:</b>
            <div id="completed_table">
            <table width="100%" class="table table-striped table-condensed">
            <tr><td>Pre-test score:</td><td></td></tr>
            <tr><td>Post-test score:</td><td></td></tr>
            <tr><td>Pre/Post change:</td><td></td></tr>
            <tr><td>Percent reporting satisfaction:</td><td></td></tr>
            </table>
            </div>
            
        </div>
    </div>
{% endif %}




    <div class="tab-pane" id="user-profile">
    <button id="user-profile-button">Change Profile</button>
         <div id="originalprofile">
        <table width="100%" class="table table-striped table-condensed">
        <tr>
            <td>
                <h2><a href="">User Profile Will Be displayed as Form</a></h2>
            </td>
        </tr>
        </table>
 <div id="new_profile">
         
         </div> 

  
        </div>
    </div>
    

{% if user_profile.profile_type == "IC" %}
    <div class="tab-pane" id="pending-teachers">
        <div id="pane-content">
            <b><p>Pending Teachers</p></b>
			
            <table width="100%" class="table table-striped table-condensed">
            <tr><td>Teacher Name </td><td> School </td><td> Country </td></tr>
            {% for pt in pending_teachers %}
                <tr>
                      <td>{{pt.first_name}}{{pt.first_name}}</td><td>{{pt.school}}</td><td>{{pt.country}}</td>
                </tr>
                {% empty %}
                 <tr><b><p>No instructors have self registered yet.</p></b></tr>
                {% endfor %}
            </table>
           
            
        </div>
    </div>
{% endif %}












    
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onClick=refresh_page();> x </button>
             <h4 class="modal-title" id="myModalLabel">Join Course</h4>
             </div>
             <div class="modal-body">
             <form id="create_course" action="/create_new_course/" method="post">{% csrf_token %}
             {{ form.as_p }}
             <input type="submit" value="Submit"/>
             </form>
             </div>
             <div class="modal-footer">
             
             <button id="refresh" type="button" class="btn btn-primary">Save changes</button>
         </div>
     </div>
   </div>
</div>
    
    
{% endblock%}