<div id="school_list">
    <script>
        var school_change = jQuery('#id_school');

        school_change.change(

            function(){
                jQuery.ajax({
                    url: "/get_courses/",
                    data: { 'name' : jQuery('#id_school').val()},
                    success: function (data) {
                        jQuery('#course_list').replaceWith(data)
                        alert(data);
                    },
                    error: function (data) {
                        alert(data);
                    },
         });
      });

    </script>
        
    <select id="id_school" name="school" >
        <option value="blank">------</option>
            {% for s in school_list %}
                <option value="{{s.pk}}">{{s.name}} {{s.pk}}</option>
            {% empty %}
                <p>Oh no! there are no schools.</p>
            {% endfor %}
       </select>
</div>
