{% load markup %}
{% load adherence_state %}

{% if block.label %}<h3>{{block.label}}</h3>{% endif %}
{% if block.description %}{{block.description|safe}}{% endif %}

{% get_response_for 'adherence_one' as adherence_one %}
{{adherence_one}}
{% get_response_for 'adherence_two' as adherence_two %}
{{adherence_two}}
{% get_response_for 'adherence_three' as adherence_three %}
{{adherence_three}}
{% get_response_for 'adherence_four' as adherence_four %}
{{adherence_four}}
{% get_response_for 'adherence_five' as adherence_five %}
{{adherence_five}}
{% get_response_for 'adherence_six' as adherence_six %}
{{adherence_six}}

<div id="last_click" style="display: none">{{convres}}</div>

{% block content %}
<div class="adherencecard" data-part="1">1</div>
<div class="adherencecard" data-part="2">2</div>
<div class="adherencecard" data-part="3">3</div>
<div class="adherencecard" data-part="4">4</div>
<div class="adherencecard" data-part="5">5</div>
<div class="adherencecard" data-part="6">6</div>
{% endblock %}
