{% block content %}
<div class="artcard" data-part="followup">followup</div>
<div class="artcard" data-part="adherence">adherence</div>
<div class="artcard" data-part="why">why</div>
<div class="artcard" data-part="regimen">regimen</div>
<div id="explanation_box" class="artcard">explanation</div>

<div style="display:none" id="followup" class="explanation">"Explanation for followup here."</div>
<div style="display:none" id="adherence" class="explanation">"Explanation for adherence here."</div>
<div style="display:none" id="why" class="explanation">"Explanation for why here."</div>
<div style="display:none" id="regimen" class="explanation">"Explanation for regimen here."</div>
{% endblock %}
