{% block content %}
<div id="artcardsections">
<div class="artcard section" id="followupblock" data-part="followup"></div>
<div class="artcard section" id="adherenceblock" data-part="adherence"></div>
<div class="artcard section" id="whyblock" data-part="why"></div>
<div class="artcard section" id="regimenblock" data-part="regimen"></div>
<div id="explanation_box" class="artcard"></div>
</div>

<div style="display:none" id="followup" class="explanation">
		<div class="ex_titlefollow">Follow-Up Date</div>
		<div class="ex_content">Explanation for followup here.</div>
</div>
<div style="display:none" id="adherence" class="explanation">
		<div class="ex_titlead">Adherence</div>
		<div class="ex_content">Explanation for followup here.</div>
</div>
<div style="display:none" id="why" class="explanation">
		<div class="ex_titlewhy">Why</div>
		<div class="ex_content">Explanation for followup here.</div>
</div>
<div style="display:none" id="regimen" class="explanation">
		<div class="ex_titleregimen">Regimen</div>
		<div class="ex_content">Explanation for followup here.</div>
</div>
{% endblock %}
