{% load markdownify %}
{% load i18n %}

{% if block.label %}<div id="month_title"><h3>{{block.label}}</h3></div>{% endif %}

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{{block.month.month_name}} <span class="selected-day"></span></h3>
        </div>
        <div class="modal-body">
            <p></p>
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Try Again' %}</button>
        </div>
    </div>


{% if block.description %}
<div id="description">
{{block.description|markdownify}}
</div>

{% endif %}
<div id="check_val" value="{{ block.correct_date }}" data-check="{{ block.correct_date }}" style="visibility: hidden">  </div>
<div id="calendar_id" value="{{ block.pk }}" data-calendar="{{ block.pk }}" style="visibility: hidden">  </div>
    <h3>{{block.month.display_name}}</h3>
      <div class="daysofweek">
          <div>{% trans 'Sunday' %}</div>
          <div>{% trans 'Monday' %}</div>
          <div>{% trans 'Tuesday' %}</div>
          <div>{% trans 'Wednesday' %}</div>
          <div>{% trans 'Thursday' %}</div>
          <div>{% trans 'Friday' %}</div>
          <div>{% trans 'Saturday' %}</div>
      </div>
    <div id="month" class="{{block.month.month_name}}">
    {% for day in block.month.day_set.all %}
        <div data-day="{{ day.pk }}" data-date="{{ day.number }}" data-explanation="{{ day.explanation }}"
            data-toggle="modal" data-target="#myModal" class="day">
        {{ day.number }}
        </div>
{% endfor %}
</div>

</div>














