{% load markup %}

{% comment %}
{% with block.conversationscenario as conversationscenario %}
{% endwith %}
{% endcomment %}

{% if block.label %}<div id="month_title"><h3>{{block.label}}</h3></div>{% endif %}
</br></br>

{% if block.description %}
<div id="description">
{{block.description|markdown}}
</div>
</br></br>
{% endif %}

<div id="correct_day" style="visibility: hidden"> {{ block.birth_date }} </div>



</br></br>


<div id="month">

<div id="day" class="day">
1
</div>
<div id="day" class="day">
2
</div>
<div id="day" class="day">
3
</div>
<div id="day" class="day">
4
</div>
<div id="day" class="day">
5
</div>
<div id="day" class="day">
6
</div>
<div id="day" class="day">
7
</div>
<div id="day" class="day">
8
</div>
<div id="day" class="day">
9
</div>
<div id="day" class="day">
10
</div>
<div id="day" class="day">
11
</div>
<div id="day" class="day">
12
</div>
<div id="day" class="day">
13
</div>
<div id="day" class="day">
14
</div>
<div id="day" class="day">
15
</div>
<div id="day" class="day">
16
</div>
<div id="day" class="day">
17
</div>
<div id="day" class="day">
18
</div>
<div id="day" class="day">
19
</div>
<div id="day" class="day">
20
</div>
<div id="day" class="day">
21
</div>
<div id="day" class="day">
22
</div>
<div id="day" class="day">
23
</div>
<div id="day" class="day">
24
</div>
<div id="day" class="day">
25
</div>
<div id="day" class="day">
26
</div>
<div id="day" class="day">
27
</div>
<div id="day" class="day">
28
</div>
<div id="day" class="day">
29
</div>
<div id="day" class="day">
30
</div>
</div>
















