{% load markup %}
{% if block.label %}<div id="month_title"><h3>{{block.label}}</h3></div>{% endif %}
</br></br>

{% if block.description %}
<div id="description">
{{block.description|markdown}}
</div>
</br></br>
{% endif %}

<div id="correct_day" value="{{ block.correct_date }}" data-day="{{ block.correct_date }}" style="visibility: hidden">  </div>
{% comment %}
    {% for day in block.month %}
    <div id="month">
        <div data-day="1" class="day">
         {{ day|add:"1" }}
        </div>
    </div>
{% endfor %}
</br></br>
{% endcomment %}
</div>
















