{% extends "base.html" %}
{% block content %}
{% block title %}{{ section.title }}{% endblock %}

<h1>{{ section.title }}</h1>
{% if s in object_list %}
{% for s in object_list %}
    <b>Scenario --> {{s}}</b></br>
    <ul>  <a href="{{ s.get_absolute_url }}"> </a>  {{ s.label }}  {{ s.description }}  {{ s.pk }}  <space><space>  
          <a href="/activities/add_conversation/{{ s.pk }}/">Add Conversation</a>  <space><space>  
          <a href="/activities/delete_scenario/{{ s.pk }}/">Delete Scenario</a>  <space><space>  
          <a href="/activities/update_scenario/{{ s.pk }}/">Update Scenario</a> </p>
{% if s.good_conversation %}
               <p> <space><space>
               <b>Conversation:</b>
               <ol>{{s.good_conversation}}</br>
               <u>Scenario Type:</u> {{s.good_conversation.scenario_type}} <space><space></br>
               <u>Text One:</u> {{s.good_conversation.text_one}} <space><space></br>
               <u>Response One:</u> {{s.good_conversation.response_one}} <space><space></br>
               <u>Response Two:</u> {{s.good_conversation.response_two}} <space><space></br>
               <u>Response Three:</u> {{s.good_conversation.response_three}} <space><space></br>
               <u>Complete Dialog:</u> {{s.good_conversation.complete_dialog}} <space><space></br>
               </ol> <a href="/activities/update_conversation/{{ s.good_conversation.pk }}/">Edit Conversation {{ s.good_conversation.pk }}</a> <space><space>  <a href="/activities/delete_conversation/{{ s.good_conversation.pk }}/">Delete Conversation</a></p>
{% else %}
               <p>There are good conversations for this scenario yet. <space><space>  <a href="/activities/add_conversation/{{ s.pk }}/">Add Conversation</a> </p>

{% endif %}


{% if s.bad_conversation %}
               <p> <space><space>
               <b>Conversation:</b>
               <ol>{{s.bad_conversation}}</br>
               <u>Scenario Type</u> {{s.bad_conversation.scenario_type}} <space><space></br>
               <u>Text One:</u> {{s.bad_conversation.text_one}} <space><space></br>
               <u>Response One:</u> {{s.bad_conversation.response_one}} <space><space></br>
               <u>Response Two:</u> {{s.bad_conversation.response_two}} <space><space></br>
               <u>Response Three:</u> {{s.bad_conversation.response_three}} <space><space></br>
               <u>Complete Dialog:</u> {{s.bad_conversation.complete_dialog}} <space><space></br>
               </ol> <a href="/activities/update_conversation/{{ s.bad_conversation.pk }}/">Edit Conversation {{ s.bad_conversation.pk }}</a> <space><space>  <a href="/activities/delete_conversation/{{ s.bad_conversation.pk }}/">Delete Conversation</a></p>

{% else %}

               <p>There are no bad conversations for this scenario yet. <space><space>  <a href="/activities/add_conversation/{{ s.pk }}/">Add Conversation</a> </p>

{% endif %}


</ul>
{% endfor %}{% endif %}
{% endblock %}
