<script src="/site_media/js/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery(".dosage-clipboard img").click(function() {
        var position = jQuery(this).position();
        jQuery('.dosage-clipboard-popover').css({
            'left': (position.left - 400) + 'px',
            'top': (position.top - 20) + 'px'});
        
        jQuery('.dosage-clipboard-popover').toggle('slide', {direction: 'right'}, 500);
    });
    
    jQuery(".dosage-clipboard-content button.close").click(function() {
        jQuery('.dosage-clipboard-popover').toggle('slide', {direction: 'right'}, 500);
    });
    
    jQuery("input[type='text']")//?

    jQuery('form').submit(function(evt) {
        var inputs = jQuery(evt.currentTarget).find("input[type='text']");
        
        for (var i=0; i < inputs.length; i++) {
        	
        	var re = new RegExp(/^\d*\.?\d*$/);
        	var dig = new RegExp(/^\d+$/);
        	
        	var nvp = jQuery(inputs[0]).val();
        	var tpd = jQuery(inputs[1]).val();
        	var wks = jQuery(inputs[2]).val();
        	
        	var value = parseFloat(nvp);
            if (!nvp.match(re) || isNaN(value))  {
                alert("Please enter a valid digit or decimal for ml of NVP.");
                return false;
            }

            value = parseInt(tpd);            
            if ((!tpd.match(dig)) || (tpd.length > 3) || isNaN(value))  {
                alert('Please enter a valid digit or decimal for "times each day."');
                return false;
                
            }

            value = parseFloat(wks);
            if ((!wks.match(dig)) || (wks.length > 3) || isNaN(value))  {
                alert('Please enter a valid digit or decimal for "weeks".');
                return false;
            }
        }
    });
});
</script>
