{% load dosage_state %}
{% getdosageresponse block as dosager %}
{% load i18n %}

<div class="dosage-activity">
    <div class="dosage-clipboard-popover fade left in" style="display: none">
        <div class="dosage-clipboard-content">
            <button type="button" class="close">&times;</button>
            {% blocktrans trimmed %}
            <h4>NVP Dosage Chart</h4>
            <h5>Daily dosing for NVP for infants from birth-6 weeks</h5>
            <table>
            <tr><td>Birth weight 2000-2499 g </td><td> 1ml (10mg) once a day </td></tr>
            <tr><td>Birth weight ≥ 2500 g </td><td> 1.5 ml (15mg) once a day </td></tr>
            <tr><td>Infants < 200 g </td><td> 0.2 ml (2mg)/kg once a day </td></tr>
            </table>
            <br />
            <h5>Daily dosing for NVP for infants > 6 weeks of age</h5>
            <div>
            Depending on country guidelines, there may
            be rare cases in which children over 6 weeks
            are given NVP as prophylaxis. In this case the
            dosages are:
            </div>
            <table>
            <tr><td>6 weeks to 6 months </td><td> 20mg (2ml) once a day</td></tr>
            <tr><td>Over 6 months to 9 months </td><td> 30mg (3ml) once a day</td></tr>
            <tr>
                <td>Over 9 months until breastfeeding ends</td>
                <td> 40mg (4ml) once a day</td>
            </tr>
            </table>
            {% endblocktrans %}
        </div>
    </div>

    <div class="dosage-question">
        {{block.question|safe}}
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'How many ml of NVP?' %}</label>
        <div class="controls">
            {% if dosager %}
                <div>
                    <input type="text"
                        name="pageblock-{{block.pageblock.id}}-mlnvp"
                        value="{{dosager.ml_nvp}}" readonly="readonly" />
                        <b>{% trans 'ml' %}</b>
                    
                    {% if dosager.ml_nvp == block.ml_nvp %} 
                        <span class='alert alert-success'>
                            <b>{% trans 'Correct' %}</b>
                        </span>
                    {% else %}
                        <span class='alert alert-error'>
                            <b>{% trans 'Incorrect' %}</b>
                        </span>
                    {% endif %}
                </div>
            {% else %}
                <input type="text"
                    name="pageblock-{{block.pageblock.id}}-mlnvp" value="" />
                    <b>{% trans 'ml' %}</b>
                <div class="help-inline">
                    {% trans 'Please enter a valid amount, example: 1.23.' %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'How many times each day?' %}</label>
        <div class="controls">
            {% if dosager %}
                <div>
                    <input type="text" id="times_day_input"
                        name="pageblock-{{block.pageblock.id}}-times_day"
                        value="{{dosager.times_day}}" readonly="readonly"> 
                        <b>{% trans 'x per day' %}</b>
                   
                    {% if dosager.times_day == block.times_day %} 
                        <span class='alert alert-success'>
                            <b>{% trans 'Correct' %}</b>
                        </span>
                    {% else %}
                        <span class='alert alert-error'>
                            <b>{% trans 'Incorrect' %}</b>
                        </span>
                    {% endif %}
                </div>
            {% else %}
                <input type="text" id="times_day_input"
                    name="pageblock-{{block.pageblock.id}}-times_day" value="">
                    <b>{% trans 'x per day' %}</b>
                <div class="help-inline">
                    {% trans 'Please enter a valid digit or decimal for "times each day."' %}
                </div> 
            {% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'For how many weeks?' %}</label>
        <div class="controls">
            {% if dosager %}
                <div>
                    <input type="text" id="week_input"
                        name="pageblock-{{block.pageblock.id}}-weeks"
                        value="{{dosager.weeks}}" readonly="readonly"> 
                        <b>{% trans 'weeks' %}</b>
                    {% if dosager.weeks == block.weeks %} 
                        <span class='alert alert-success'>
                            <b>{% trans 'Correct' %}</b>
                        </span>
                    {% else %}
                        <span class='alert alert-error'>
                            <b>{% trans 'Incorrect' %}</b>
                        </span>
                    {% endif %}
                </div>            
            {% else %}
                <input type="text" id="week_input"
                    name="pageblock-{{block.pageblock.id}}-weeks" value=""> 
                    <b>{% trans 'weeks' %}</b>
                <div class="help-inline">
                    {% trans 'Please enter a valid digit or decimal for "weeks"' %}
                </div>
            {% endif %}            
        </div>
    </div>

    {% if dosager %}
         <div class="explanation">{{block.explanation}}</div>
    {% endif %}

</div>
