<script type="text/javascript">
jQuery(document).ready(function(){

jQuery('form').submit(function(e) {
	//alert( "Handler for .submit() called." );
	e.preventDefault();
	
});



	jQuery("#clipboard-button").on("click",
	
		function()
		{ 
			jQuery("#clipboard").show();
			
		});

	jQuery("#clipboard").on("click",
	
		function()
		{ 
			jQuery("#clipboard").hide();
			
		});
		

		if (jQuery("#sub_nvp").attr('data-value') != jQuery("#user_nvp").attr('data-value'))
		{
				jQuery("#user_nvp").append("<div class='alert alert-error'><b>Incorrect</b></div>");
		}
		if (jQuery("#sub_times_day").attr('data-value') != jQuery("#user_times_day").attr('data-value'))
		{
				jQuery("#user_times_day").append("<div class='alert alert-error'><b>Incorrect</b></div>");
		}
		if (jQuery("#sub_weeks").attr('data-value') != jQuery("#user_weeks").attr('data-value'))
		{
				jQuery("#user_weeks").append("<div class='alert alert-error'><b>Incorrect</b></div>");
		}
		if (jQuery("#sub_nvp").attr('data-value') == jQuery("#user_nvp").attr('data-value'))
		{
				jQuery("#user_nvp").append("<div class='alert alert-success'><b>Correct</b></div>");
				//jQuery("#user_nvp").replace("<div class='alert alert-success'><b>Correct</b></div>");
		}
		if (jQuery("#sub_times_day").attr('data-value') == jQuery("#user_times_day").attr('data-value'))
		{
				jQuery("#user_times_day").append("<div class='alert alert-success'><b>Correct</b></div>");
		}
		if (jQuery("#sub_weeks").attr('data-value') == jQuery("#user_weeks").attr('data-value'))
		{
				jQuery("#user_weeks").append("<div class='alert alert-success'><b>Correct</b></div>");
		}


function validateForm() {
    alert("validate form");
//    var x = document.forms["doseageform"]["usernvp"].value;
//    if (x == null || x == "") {
//        alert("All values must be filled out");
//        return false;
//    }
//    if (x.length() > 2)  {
//        alert("Values should consist of one or two digits");
//        return false;
//    }
//    if (parseInt(x) == False)  {
//        alert("Values should consist of one or two digits");
//        return false;
//    }

}


//    jQuery("#submit_button").on("click",
    
//  	function()
//   	{
//   	alert("inside function");
//  		alert(jQuery("#user_nvp").attr('data-value'));
//    		if(jQuery("#user_nvp").attr('data-value').length() > 2)
//     		{
//     			jQuery("#user_nvp").append("<b>Only numbers of one or two digits are acceptable answers.</b>");
//     		}
//    		if(jQuery("#user_times_day").attr('data-value').length() > 2)
//    		{
//     			jQuery("#user_times_day").append("<b>Only numbers of one or two digits are acceptable answers.</b>");
//     		}
//     		if(jQuery("#user_weeks").attr('data-value').length() > 2)
//     		{
//     		    jQuery("#user_weeks").append("<b>Only numbers of one or two digits are acceptable answers.</b>");
//     		}    
    
//    });




});
</script>
