<script src="/site_media/js/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery(".dosage-clipboard img").click(function() {
        var position = jQuery(this).position();
        jQuery('.dosage-clipboard-popover').css({
            'left': (position.left - 400) + 'px',
            'top': (position.top - 20) + 'px'});
        
        jQuery('.dosage-clipboard-popover').toggle('slide', {direction: 'right'}, 500);
    });
    
    jQuery(".dosage-clipboard-content button.close").click(function() {
        jQuery('.dosage-clipboard-popover').toggle('slide', {direction: 'right'}, 500);
    });
    
    jQuery("input[type='text']")

    jQuery('form').submit(function(evt) {
        var inputs = jQuery(evt.currentTarget).find("input[type='text']");
        
        for (var i=0; i < inputs.length; i++) {
            var value = jQuery(inputs[i]).val();
			
            if (value.length > 3)  {
                alert("Values should consist of one or two digits.");
                return false;
            }
        }
    });
});
</script>
