{% load markup %}
{% load dosage_state %}
{% with block.dosageactivity as dosageactivity %}
{% endwith %}
{% getdosageresponse block as dosager %}

<div id="clipboard-button"> Clip Board Here </div>

{% if block.label %}<h3>{{block.label}}</h3>{% endif %}
{{block.description|markdown}}

</br></br>{% if block.question %}<h3>{{block.question}}</h3>{% endif %}

{% if dosager %}
<input type="hidden" id="sub_nvp" data-value="{{block.ml_nvp}}">
<input type="hidden" id="sub_times_day" data-value="{{block.times_day}}">
<input type="hidden" id="sub_weeks" data-value="{{block.weeks}}">
{% endif %}

<div id="dosage">
<form action="." method="post">{% csrf_token %}
<table>
   <tr><td> MLVP:</td><td>
   		{% if dosager %}
   			<div id="user_nvp" data-value="{{dosager.ml_nvp}}">{{dosager.ml_nvp}}</div>
   		{% else %}
   			<input type="text" id="nvp_input" name="pageblock-{{block.pageblock.id}}-mlnvp" value="">
   		{% endif %}
   	</td></tr>
   
   <tr><td>Number of Times per Day:</td><td>
   		{% if dosager %}
   			<div id="user_times_day" data-value="{{dosager.times_day}}">{{dosager.times_day}}</div>
   		{% else %}
   			<input type="text" id="times_day_input" name="pageblock-{{block.pageblock.id}}-times_day" value="">
   		{% endif %}
   		</td></tr>

   <tr><td>Number of Weeks:</td><td>
	   {% if dosager %}
	   		<div id="user_weeks" data-value="{{dosager.weeks}}">{{dosager.weeks}}</div>
	   {% else %}
		   <input type="text" id="week_input" name="pageblock-{{block.pageblock.id}}-weeks" value="">
	   {% endif %}
	   </td></tr>
	   {% if dosager %}
	   <div id="explanation">{{block.explanation}}</div>
	   {% endif %}
	   {% if not dosager %}
       <input type="submit" value="Submit" />
       {% endif %}
</table>
</form>

<div id="clipboard" style="display: none">
<b>NVP Dosage Chart</b>

<b>Daily dosing for NVP for infants from
birth to 6 weeks</b>

<table border="1" style="width:350px">
<tr><td>Birth weight 2000-2499 g </td><td> 1ml (10mg) once a day </td></tr>
<tr><td>Birth weight ≥ 2500 g </td><td> 1.5 ml (15mg) once a day </td></tr>
<tr><td>Infants < 2000 g 0.2 ml </td><td> (2mg)/kg once a day </td></tr>
</table>
<div>
Depending on country guidelines, there may
be rare cases in which children over 6 weeks
are given NVP as prophylaxis. In this case the
dosages are:
</div>

<b> Daily dosing for NVP for infants > 6
weeks of age: </b>
<table border="1" style="width:350px">
<tr><td>6 weeks to 6 months </td><td> 20mg (2ml) once a day</td></tr>
<tr><td>Over 6 months to 9 months </td><td> 30mg (3ml) once a day</td></tr>
<tr><td>Over 9 months until breastfeeding ends </td><td> 40mg (4ml) once a day</td></tr>
</table>
</div>


</div>




</br></br></br></br></br></br>



