{% load markup %}
{% load dosage_state %}
{% with block.dosageactivity as dosageactivity %}
{% endwith %}
{% getdosageresponse block as dosager %}

<div id="response" value="{{dosager}}"> {{dosager}}   </div>

{% if block.label %}<h3>{{block.label}}</h3>{% endif %}
{{block.description|markdown}}

</br></br>{% if block.question %}<h3>{{block.question}}</h3>{% endif %}


<div id="dosage">
<form action="." method="post">{% csrf_token %}

   MLVP:
   		{% if dosager %}
   			<div>{{dosager.ml_nvp}}</div><input type="hidden" name="submission" value="{{block.ml_nvp}}">
   		{% else %}
   			<input type="text" name="pageblock-{{block.pageblock.id}}-mlnvp" value="">
   		{% endif %}
   		</br>
   
   Number of Times per Day:
   		{% if dosager %}
   			<div>{{dosager.times_day}}</div><input type="hidden" name="submission" value="{{block.times_day}}">
   		{% else %}
   			<input type="text" name="pageblock-{{block.pageblock.id}}-times_day" value=""></br>
   		{% endif %}
   		</br>

   Number of Weeks:
	   {% if dosager %}
	   		<div>{{dosager.weeks}}</div><input type="hidden" name="submission" value="{{block.weeks}}">
	   {% else %}
		   <input type="text" name="pageblock-{{block.pageblock.id}}-weeks" value="">
	   {% endif %}
	   </br>
	   
	   <div id="explanation">{{block.explanation}}</div>
<input type="submit" value="Submit" />
</form>
</div>




</br></br></br></br></br></br>



