{% block content %}
<div class="parts mouth" data-part="mouth">mouth</div>
<div class="parts eyes" data-part="eyes">eyes</div>
<div class="parts chair" data-part="chair">chair</div>
<div class="parts chart" data-part="chart">chart</div>
<div id="explanation_box"></div>

<div style="display:none" id="mouth" class="body">￼<div class="title">Mouth</div>Smile! Use good body language, nod your head, lean forward.</div>
<div style="display:none" id="eyes" class="body"><div class="title">Eyes</div>Make eye contact.</div>
<div style="display:none" id="chair" class="body"><div class="title">Chair</div>Sit squarely facing the person. Do not sit behind a desk!</div>
<div style="display:none" id="chart" class="body"><div class="title">Chart</div>Try not to write during a HIV testing and counseling session, unless you are recording key information for the woman to take home or for your records. Turn your mobile phone off and never take calls during a counseling session. </div>

{% endblock %}
