<script type="text/javascript" language="javascript">
jQuery(document).ready(function() {

    var exp = jQuery('#explanation_box');
    
    jQuery(".body").on("click",

        function() {

            if (jQuery(this).data().part == "mouth")
            {
                exp.html("Explanation for mouth here.");
            }
            if (jQuery(this).data().part == "eyes")
            {
                exp.html("Explanation for eyes here.");
            }
            if (jQuery(this).data().part == "chair")
            {
                exp.html("Explanation for chair here.");
            }
            if (jQuery(this).data().part == "chart")
            {
                exp.html("Explanation for chart here.");
            }

   });

});
</script>