{% block content %}
<div class="parts" data-part="mouth">mouth</div>
<div class="parts" data-part="eyes">eyes</div>
<div class="parts" data-part="chair">chair</div>
<div class="parts" data-part="chart">chart</div>
<div id="explanation_box" class="parts">explanation</div>

<div style="display:none" id="mouth" class="body">"Explanation for mouth here."</div>
<div style="display:none" id="eyes" class="body">"Explanation for eyes here."</div>
<div style="display:none" id="chair" class="body">"Explanation for chair here."</div>
<div style="display:none" id="chart" class="body">"Explanation for chart here."</div>
{% endblock %}
