<script type="text/javascript" language="javascript">
    function send_click(click_string)
    {
        var retention_id = jQuery("#retention input[name='retention_id']").val();

        jQuery.ajax(
        {
            url: "/activities/retention_click/",
            type: "POST",
            data: {'click_string' : click_string, 'retention_id' : retention_id},
            success: function (data) 
            {
                //alert("success!");
            },

            error: function(data) 
            {
                alert("There was an error submitting your form.");
            }
        });//end of ajax

    }

jQuery(document).ready(function() {

    var exp = jQuery('#explanation_box');

    jQuery(".artregister").on("click",

        function() {

            if (jQuery(this).data().part == "cohort")
            {
                exp.html(jQuery("#cohort").html());
                send_click("cohort_click");
            }
            if (jQuery(this).data().part == "startdate")
            {
                exp.html(jQuery("#startdate").html());
                send_click("start_date_click");
            }
            if (jQuery(this).data().part == "eligible")
            {
                exp.html(jQuery("#eligible").html());
                send_click("eligible_click");
            }
            if (jQuery(this).data().part == "delivery-date")
            {
                exp.html(jQuery("#delivery-date").html());
                send_click("delivery_date_click");
            }
            if (jQuery(this).data().part == "dec0")
            {
                exp.html(jQuery("#dec0").html());
                send_click("dec_click");
            }
            if (jQuery(this).data().part == "jan1")
            {
                exp.html(jQuery("#jan1").html());
                send_click("jan_click");
            }
            if (jQuery(this).data().part == "feb2")
            {
                exp.html(jQuery("#feb2").html());
                send_click("feb_click");
            }
            if (jQuery(this).data().part == "mar3")
            {
                exp.html(jQuery("#mar3").html());
                send_click("mar_click");
            }
            if (jQuery(this).data().part == "apr4")
            {
                exp.html(jQuery("#apr4").html());
                send_click("apr_click");
            }
            if (jQuery(this).data().part == "may5")
            {
                exp.html(jQuery("#may5").html());
                send_click("may_click");
            }
            if (jQuery(this).data().part == "june6")
            {
                exp.html(jQuery("#june6").html());
                send_click("jun_click");
            }

   });

});
</script>
