<div id="retentionsections">
<div id="retention"><input type="hidden" name="retention_id" value="{{block.pk}}"/></div>
<div class="artregister" id="cohortblock" data-part="cohort"></div>
<div class="artregister" id="startdateblock" data-part="startdate"></div>
<div class="artregister" id="eligibleblock" data-part="eligible"></div>
<div class="artregister" id="eddblock" data-part="delivery-date"></div>
<div class="artregister" id="followblock" data-part="follow-up"></div>
<div id="explanation_box"></div>
</div>

<div style="display:none" id="cohort" class="explanation"><div class="title_cohort">Cohort</div><div class="ex_content">Patients who started ART in the same month are called a monthly cohort.</div></div>
<div style="display:none" id="startdate" class="explanation"><div class="title_startdate">ART Start Date</div><div class="ex_content">Date that each patient in the cohort was started on ART.</div></div>
<div style="display:none" id="eligible" class="explanation"><div class="title_eligible">Why Eligible?</div><div class="ex_content">Reason the patient was started on ART. The codes for each reason are listed in a box at the bottom of the register and include PG for pregnancy and BF for breastfeeding.</div></div>
<div style="display:none" id="delivery-date" class="explanation"><div class="title_edd">Estimated Date of Delivery</div><div class="ex_content">Date that women who initiated ART during pregnancy are expected to deliver and/or date that women who fall pregnant while on ART are expected to deliver. This will help with interpretation of findings if a patient for example decides to go home to deliver.</div></div>
<div style="display:none" id="follow-up" class="explanation"><div class="title_follow">Follow-up Status</div><div class="ex_content">Whether or not the patient has remained on ART in the months after starting ART. The codes for follow-up status are listed in a box at the bottom of the register and include XX for patients on ART and other codes for patients not on ART.</div>
</div>

