{% extends "base.html" %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    var frm = jQuery('#create_course');
    var course_list = jQuery('#course_list');
    frm.submit(
      function () {
        jQuery.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                jQuery(".modal-body").html("Course added!</br>");
            },
            error: function(data) {
                jQuery(".modal-body").html("Something went wrong!");
            }
        }

        );
        return false;
    });

    var refresh_bttn = jQuery('#refresh');
    refresh_bttn.click(
      function(){

        location.reload();



    });

</script>
{% endblock %}
{% block content %}
{% block title %}{{ section.title }}{% endblock %}

<h1>{{ section.title }}</h1>

{% for cs in object_list %}
    <ul>  <a href="{{ cs.get_absolute_url }}"> </a>  {{ cs.label }}  {{ cs.description }}  {{ cs.pk }}  <space><space>  <a href="/activities/add_conversation/{{ cs.pk }}/">Add Conversation</a> </p>
        {% for con in cs.conversations.all %}
               <p> <space><space> {{con.text_one}} <space><space> {{con.text_two}} <space><space>
                con.text_three <space><space> con.text_four <space><space> <a href="/activities/update_conversation/{{ con.pk }}/">Edit Conversation {{ con.pk }}</a> <space><space>  <a href="/activities/delete_conversation/{{ con.pk }}/">Delete Conversation</a></p>
        {% empty %}
               <p>There are no conversations for this scenario yet. <space><space>  <a href="/activities/add_conversation/{{ cs.pk }}/">Add Conversation</a> </p>
        {% endfor %}
</ul>
{% endfor %}
{% endblock %}
