{% extends "base.html" %}
{% block content %}

<h2>Choose a Login Option...</h2>

<form method="post" action="{{ wind_base }}login" class="well">
    {% csrf_token %}
<input type="hidden" name="service" value="{{ wind_service }}" />
<input type="hidden" name="destination" value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/windlogin/?next={{ next }}" />

<p>This is the wrong page..</p>
<p>If you have a Columbia University Network ID
        (UNI)... </p><input type="submit" value="LOG IN" class="btn btn-primary"/></p>
</form>

<form method="post" action="/login/" class="well">
    {% csrf_token %}
<p>If you have a project account...</p>

<label for="id_username">Username: {{ form.username }}</label>
<label for="id_password">Password: {{ form.password }}</label>

<input type="submit" value="LOG IN" class="btn btn-primary" />

</form>

<p>Don't have an account? Register now. <a href="/register/" title="Create your new project account">create an account</a>.</p>
{% endblock %}


