<div  id="lang-fr" style="display:none;">
 <div class="login-welcome">
    <img src="{{STATIC_URL}}img/landingphoto.jpg" />
  <h1 class="pageheader">
    Bienvenue!
  </h1>
  <p>
    L'enseignement et la formation en soins infirmiers forment un volet essentiel de la mission de l'
    <a href="http://icap.columbia.edu" target="_blank">
      ICAP
    </a> 
    qui consiste à veiller sur la santé des familles et des populations du monde entier.
  </p>
  <p>
    Cette plateforme a été mise au point dans le but de promouvoir l'apprentissage en ligne du 
    personnel infirmier et des sages-femmes et de partager les ressources avec les établissements 
    d'enseignement infirmier.
  </p>
  <p> 
    L'<a href="http://icap.columbia.edu" target="_blank">
      ICAP
    </a> 
    , à l'Université de Columbia, est un chef de file mondial en matière de renforcement des 
    systèmes de santé et de la lutte contre le VIH/sida. Notre programme international de 
    renforcement des capacités du personnel infirmier est une initiative lancée par plusieurs 
    pays pour soutenir le rôle des infirmiers(ères) dans la prise en charge des personnes 
    vivant avec le VIH. Il se compose de deux projets : l'initiative NEPI 
    (Nursing Education Partnership Initiative), qui vise à renforcer les capacités des 
    établissements d'enseignement pour les infirmiers(ères) et les sages-femmes et à garantir 
    un nombre suffisant de diplômés qualifiés et compétents sur le plan clinique en Afrique 
    subsaharienne, d'une part, et notre programme de capacités infirmières générales qui 
    promeut le maintien d'un personnel infirmier qualifié par le biais de la formation 
    continue, d'autre part.
  </p>
  
  <small>
    Cette initiative bénéficie du soutien du Plan d'urgence du Président des États-Unis pour 
    la lutte contre le SIDA (PEPFAR) par l'intermédiaire de la HRSA (Health Resources and 
    Services Administration) du ministère américain de la Santé et des Services sociaux, en 
    vertu de l'accord de coopération n° U92HA12772 du programme international de renforcement 
    des capacités des infirmiers. Le contenu relève de la responsabilité de l'ICAP et ne reflète 
    pas nécessairement l'opinion du gouvernement des États-Unis.
  </small>
</div>

<div class="login-form">
  <div class="login-form-register">
    <a href="/register/" class="btn">
      Cliquez ici pour vous enregistrer et ouvrir un compte gratuit
    </a>
  </div>
  <h4>Connexion</h4>
  {% if form.errors %}
  <div class="alert alert-danger">
    <span>
      <b>Invalid username or password.</b>
    </span>
    Note that both username and password are case-sensitive.
  </div>
  {% endif %}    
        
   <form method="post" action=".">
     <div class="login-form-div">
       <table class="login-form-table">
         <tr>
           <td>
             <label for="id_username">
               Identifiant:&nbsp;
             </label>
           </td>
           <td>
             {{ form.username }}
           </td>
         </tr>
         <tr>
           <td>
             <label for="id_password">
              Mot de passe:&nbsp;
             </label>
           </td>
           <td>
             {{ form.password }}
           </td>
         </tr>
       </table>
       <div class="login-form-forgot">
         <a href="/accounts/password_reset/">
           Mot de passe oublié?
         </a>
       </div>
       <div class="login-form-submit">
         <input class="btn" type="submit" value="Log In"></input>
       </div>
     </div>
     <input type="hidden" name="next" value="{{ next }}"></input>
   </form>
        
   <div class="login-form-ques">
     <ul>
       <li>
         <a href="/contact/">
           Contacter l'ICAP
         </a>
       </li>
     </ul> 
   </div>
</div>
</div>