<div id="lang-pt" style="display:none;">
  <h2 class="pagetitle signuptitle">
    Redefinir a senha
  </h2>
  <p>
    Esqueceu a sua senha? Se você forneceu um endereço de e-mail válido quando você se registrou, você pode solicitar uma nova senha.
  </p>
  <p>
    Insira o seu e-mail no formulário abaixo e você receberá instruções para criar uma nova.
  </p>
  <div class="password-reset">
    <form method="post" action=".">
      <div class="fieldWrapper control-group {% if form.email.errors %}error{% endif %} wide">
        <label for="id_email">
          <b>Seu endereço de e-mail:</b>
        </label>
        <div class="controls">
          {{form.email}}
          {% if form.email.errors %}
            <div class="help-inline">
              {{form.email.errors}}
            </div>
          {% endif %}
        </div>
      </div>
      {% csrf_token %}
      <input class="reset-account btn btn-primary" type="submit" value="Enviar" />
    </form>
  </div>
</div>