{% extends "base.html" %}
{% load i18n %}

{% block title%}&mdash; Change Password{% endblock %}

{% block css %}
<style>
    ul.errorlist {
        clear: both;
        list-style-type: none;
        color: #b94a48;
        margin: 0 0 10px 0;
        display: block;
    }    
</style>
{% endblock %}


{% block content %}
<h1 class="pagetitle signuptitle">Change password</h1>

<div class="password-change">
    <form method="post" action=".">
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
        {%csrf_token %}
    </form>
</div>

{% endblock %}
