{% extends "base.html" %}
{% load i18n %}

{% block title %}Password Reset{% endblock %}

{% block content %}
  <div class="btn-group">
    <button id="langChoice" type="button" 
            class="btn btn-primary dropdown-toggle" 
            data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
      Language
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="langChoice">
      <li>
        <a class="dropdown-item switch-lang chng-lang" data-lang="en">
          English
        </a>
      </li>
      <li>
        <a class="dropdown-item switch-lang chng-lang" data-lang="fr">
          French
        </a>
      </li>
      <li>
        <a class="dropdown-item switch-lang chng-lang" data-lang="pt">
          Portuguese
        </a>
      </li>
    </ul>
  </div>
  <script src="{{STATIC_URL}}js/changeloginlanguage.js"></script>
  {% include 'registration/password_reset_fr.html' %}
  {% include 'registration/password_reset_pt.html' %}
  <div id="lang-en" style="display:block;">
    <h2 class="pagetitle signuptitle">
      Reset password
    </h2>
    <p>
      Forgot your password? If you provided a valid email address when you registered you can request a password reset.
    </p>
    <p>
      Enter your email in the form below and you will receive instructions for creating a new one.
    </p>
    <div class="password-reset">
      <form method="post" action=".">
        <div class="fieldWrapper control-group {% if form.email.errors %}error{% endif %} wide">
          <label for="id_email">
            <b>Your email address:</b>
          </label>
          <div class="controls">
            {{form.email}}
            {% if form.email.errors %}
              <div class="help-inline">
                {{form.email.errors}}
              </div>
            {% endif %}
          </div>
        </div>
        {% csrf_token %}
        <input class="reset-account btn btn-primary" type="submit" value="Submit" />
      </form>
    </div>
  </div>
{% endblock %}
