<div id="lang-fr" style="display:none;">
  <h2 class="pagetitle signuptitle">
    Réinitialisation du mot de passe
  </h2>
  <p>
    Vous avez oublié votre mot de passe ? Vous pouvez demander à réinitialiser votre mot de passe à condition d'avoir fourni une adresse e-mail valide lors de votre enregistrement.
  </p>
  <p>
    Saisissez votre adresse e-mail ci-dessous afin de recevoir les instructions pour la création d'un nouveau mot de passe.
  </p>
  <div class="password-reset">
    <form method="post" action=".">
      <div class="fieldWrapper control-group {% if form.email.errors %}error{% endif %} wide">
        <label for="id_email">
          <b>Votre adresse e-mail:</b>
        </label>
        <div class="controls">
          {{form.email}}
          {% if form.email.errors %}
            <div class="help-inline">
              {{form.email.errors}}
            </div>
          {% endif %}
        </div>
      </div>
      {% csrf_token %}
      <input class="reset-account btn btn-primary" type="submit" value="Envoyer" />
    </form>
  </div>
</div>