{% extends "base.html" %}
{% load i18n %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<h2 class="pagetitle signuptitle">Reset password</h2>

<p>Forgot your password? If you provided a valid email address when you registered you can request a password reset.</p>

</p>Enter your email in the form below and you will receive instructions for creating a new one.</p>

<div class="password-reset">
    <form method="post" action=".">
        <div class="fieldWrapper control-group {% if form.email.errors %}error{% endif %} wide">
            <label for="id_email"><b>Your email address:</b></label>
            <div class="controls">
                {{form.email}}
                {% if form.email.errors %}
                    <div class="help-inline">{{form.email.errors}}</div>
                {% endif %}
            </div>
        </div>
        
        {% csrf_token %}
        <input class="reset-account btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
    </form>
</div>
{% endblock %}
