{% extends "base.html" %}
{% load i18n admin_static %}
{% block title %}Create your account{% endblock %}

{% block js %}
    <script type="text/javascript">
    jQuery('.js-captcha-refresh').click(function(){
        var form = jQuery(this).parents('form');
        
        jQuery.getJSON("/captcha/refresh/", {}, function(json) {
            jQuery(form).find('input[name="captcha_0"]').val(json.key);
            jQuery(form).find('img.captcha').attr('src', json.image_url);
        });
    
        return false;
    });
    </script>
{% endblock %}


{% block content %}
<div class="user-registration">
    <h1>Create your account</h1>
    
    <form action="." method="post">{% csrf_token %}
        
        {% if form.errors|length %}
            <div class="alert alert-block alert-error">
              <strong>Please correct errors before continuing</strong>
              {% if form.non_field_errors %}
                <div>{{ form.non_field_errors}}</div>
              {% endif %}
            </div>
        {% endif %}
        
        <div class="fieldWrapper control-group {% if form.first_name.errors %}error{% endif %}">
            <label for="id_first_name"><b>Your name is:</b></label>
            <div class="controls">
                <span>
                    <input id="id_first_name" maxlength="25" name="first_name" type="text" placeholder="First Name">
                </span>&nbsp;&nbsp;
                <span>
                    <input id="id_last_name" maxlength="25" name="last_name" type="text" placeholder="Last Name">
                </span>
                
                {% if form.first_name.errors or form.last_name.errors %}
                    <div class="help-inline">First and last name are required</div>
                {% endif %}
            </div>
        </div>

        <div class="fieldWrapper control-group {% if form.username.errors %}error{% endif %} wide">
            <label for="id_username"><b>Your username:</b></label>
            <div class="controls">
                {{form.username}}
                {% if form.username.errors %}
                    <div class="help-inline">{{form.username.errors}}</div>
                {% endif %}
            </div>
        </div>
        
        <div class="fieldWrapper control-group {% if form.password1.errors %}error{% endif %} wide">
            <label for="id_password1"><b>Your password:</b></label>
            <div class="controls">
                {{form.password1}}
                {% if form.password1.errors %}
                    <div class="help-inline">{{form.password1.errors}}</div>
                {% endif %}
            </div>
        </div>

        <div class="fieldWrapper control-group {% if form.password2.errors %}error{% endif %} wide">
            <label for="id_password2"><b>Confirm your password:</b></label>
            <div class="controls">
                {{form.password2}}
                {% if form.password2.errors %}
                    <div class="help-inline">{{form.password2.errors}}</div>
                {% endif %}
            </div>
        </div>        

        <div class="fieldWrapper control-group {% if form.email.errors %}error{% endif %} wide">
            <label for="id_email">Your email address:</label>
            <div class="controls">
                {{form.email}}
                {% if form.email.errors %}
                    <div class="help-inline">{{form.email.errors}}</div>
                {% else %}
                    <div class="help-inline">(optional for students)</div>
                {% endif %}
            </div>
        </div>
        
        <div class="fieldWrapper control-group {% if form.country.errors %}error{% endif %} wide">
            <label for="id_country"><b>Which country are you in?</b></label>
            <div class="controls">
                {{form.country}}
                {% if form.country.errors %}
                    <div class="help-inline select">{{form.country.errors}}</div>
                {% endif %}
            </div>
        </div>
        
        <br />
        <div class="fieldWrapper control-group">
            <label class="checkbox">
                {{form.nepi_affiliated}} <b>I am affiliated with ICAP</b>
            </label>
        </div>
        
        <div class="fieldWrapper control-group">
            <label class="checkbox">
                {{form.profile_type}} <b>I am requesting faculty-level access</b>
            </label>
            <div class="help-inline facultyaccess">
                Checking this box will send this request to an ICAP administrator.<br />
                You will be notified when your access level has been changed.
            </div>
        </div>
        
        <div class="fieldWrapper control-group {% if form.captcha.errors %}error{% endif %}">
            <label for="id_captcha_0">
                <div><b>Please verify you are a person:</b></div>
            </label>
            
            <div class="controls">
                {{form.captcha}} {% if form.captcha.errors %} <span class="help-inline">{{form.captcha.errors}}</span>{% endif %}
            </div>
        </div>
        <div class="help-inline captcha">
            Type the characters you see in the picture.<br />
            <button class="btn btn-default js-captcha-refresh">Refresh the image</button> if you can't read the picture.<br />
        </div>
        
        <button id="createaccount" class="btn btn-primary" type="submit">Create Account</button>
    </form>
</div>
{% endblock %}



