{% extends "base.html" %}
{% load i18n static %}

{% block title %}
    Create your account
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/captcha.js"></script>
    <script src="{{STATIC_URL}}js/profile.js"></script>
{% endblock %}


{% block content %}
<div class="user-registration user-profile-form">
    <h1>Create your account</h1>

    <form action="." method="post">{% csrf_token %}

        {% if form.errors|length %}
            <div class="alert alert-block alert-error">
              <strong>Please correct errors before continuing</strong>
              {% if form.non_field_errors %}
                <div>{{ form.non_field_errors}}</div>
              {% endif %}
            </div>
        {% endif %}

        <div class="fieldWrapper control-group {% if form.first_name.errors %}error{% endif %}">
            <label for="id_first_name"><b>Your name is:</b> <small>required</small></label>
            <div class="controls">
                <span>
                    <input id="id_first_name" maxlength="50" name="first_name" type="text"
                     value="{{form.data.first_name}}" placeholder="Given Name">
                </span>&nbsp;
                <span>
                    <input id="id_last_name" maxlength="50" name="last_name"
                     value="{{form.data.last_name}}"
                     type="text" placeholder="Surname">
                </span>
                
                {% if form.first_name.errors or form.last_name.errors %}
                    <div class="help-inline">First and last name are required</div>
                {% endif %}
            </div>
        </div>

        <div class="fieldWrapper control-group {% if form.username.errors %}error{% endif %} wide">
            <label for="id_username"><b>Your username:</b> <small>required</small></label>
            <div class="controls">
                {{form.username}}
                {% if form.username.errors %}
                    <div class="help-inline">{{form.username.errors}}</div>
                {% endif %}
            </div>
        </div>
        
        <div class="fieldWrapper control-group {% if form.email.errors %}error{% endif %} wide">
            <label for="id_email"><b>Your email address:</b> <small>required for faculty</small></label>
            <div class="controls">
                {{form.email}}
                {% if form.email.errors %}
                    <div class="help-inline">{{form.email.errors}}</div>
                {% endif %}
            </div>
        </div>
        
        <div class="fieldWrapper control-group {% if form.password1.errors %}error{% endif %} wide">
            <label for="id_password1"><b>Your password:</b> <small>required</small></label>
            <div class="controls">
                {{form.password1}}
                {% if form.password1.errors %}
                    <div class="help-inline">{{form.password1.errors}}</div>
                {% endif %}
            </div>
        </div>

        <div class="fieldWrapper control-group {% if form.password2.errors %}error{% endif %} wide">
            <label for="id_password2"><b>Confirm your password:</b> <small>required</small></label>
            <div class="controls">
                {{form.password2}}
                {% if form.password2.errors %}
                    <div class="help-inline">{{form.password2.errors}}</div>
                {% endif %}
            </div>
        </div>
        
        <div class="fieldWrapper control-group {% if form.language.errors %}error{% endif %} wide">
            <label for="id_language"><b>Which is your preferred language?</b> </label>
            <div class="controls">
                <select name="language">
                    {% for choice in form.fields.language.choices %}
                        <option value="{{choice.0}}" {% if form.data.language == choice.0 %}selected="selected"{% endif %}>{{choice.1}}</option>
                    {% endfor %}
                </select>
                {% if form.language.errors %}
                    <div class="help-inline select">{{form.language.errors}}</div>
                {% endif %}
            </div>
        </div>
        
        <div class="fieldWrapper control-group {% if form.country.errors %}error{% endif %} wide">
            <label for="id_country"><b>Which country are you in?</b> <small>required</small></label>
            <div class="controls">
                <select name="country">
                    <option class="all-or-none-option" value="-----">-----</option>
                    {% for choice in form.fields.country.choices %}
                        <option value="{{choice.0}}" {% if form.data.country == choice.0 %}selected="selected"{% endif %}>{{choice.1}}</option>
                    {% endfor %}
                </select>            
                {% if form.country.errors %}
                    <div class="help-inline select">{{form.country.errors}}</div>
                {% endif %}
            </div>
        </div>
        <br />
    
        <div class="fieldWrapper control-group faculty-access disabled">
            <label class="checkbox">
                <input id="id_profile_type" name="profile_type" type="checkbox"
                 {% if form.data.profile_type == 'on' %} checked='checked' {% endif %}
                 disabled="disabled">
                <b>I am requesting faculty-level access</b>
            </label>
            <div class="help-inline no-schools-available">
                Faculty access is not available in your selected country.<br />
                If you would like to have your school added, please <a href="/contact/">contact ICAP</a>.
            </div>
            <div class="help-inline well schools-available">
                Faculty requests are sent to an ICAP administrator for approval.<br />
                You will be notified when your access level has been changed.
                <br /><br />
                    <div class="fieldWrapper control-group school {% if form.school.errors %}error{% endif %}"
                        {% if form.data.school %}data-school-id='{{form.data.school}}'{% endif %}>
                    <label><b>What is your school?</b><small>required for faculty</small></label>
                    <div class="controls">
                        <select id="id_school" name="school">
                            <option value="-----" class="all-or-none-option">-----</option>
                        </select>
                        {% if form.school.errors %}
                            <div class="help-inline select">{{form.school.errors}}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="fieldWrapper control-group">
            <label class="checkbox">
                {{form.nepi_affiliated}} <b>I am affiliated with ICAP</b>
            </label>
        </div>
        <br />    

        <div class="fieldWrapper control-group {% if form.captcha.errors %}error{% endif %}">
            <label for="id_captcha_0">
                <div><b>Please verify you are a person:</b> &nbsp;&nbsp;<small>required</small></div>
            </label>
            <div class="controls">
                {{form.captcha}} {% if form.captcha.errors %} <span class="help-inline">{{form.captcha.errors}}</span>{% endif %}
            </div>
        </div>
        <div class="help-inline captcha">
            Type the characters you see in the picture.<br />
            <button class="btn btn-default js-captcha-refresh">Refresh the image</button> if you can't read the picture.<br />
        </div>
        
        <button id="createaccount" class="btn btn-primary" type="submit">Create Account</button>
    </form>
</div>
{% endblock %}



