name: build-and-test
on: [push]
jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
          python-version: [3.12]
    steps:
      - uses: actions/checkout@v6
      - name: Flake8
        run: make flake8
      - name: Test
        run: make test
