{% extends 'base.html' %}
{% block content %}

<div class="hero-unit">
<h2>Students in {{course_students.course.pk}}</h2>
{% if course_students%}
{% for s in course_students %}
<table cellspacing="0" class="infotable" summary="Course List">
	<colgroup span="3" id="coursetablecols">
	<col class="first name" />
	<col class="last name" />
	<col class="semester" />
	<col class="start date" />
	<col class="end date" />
	</colgroup>
					
<thead>
	<tr>
		<th>	Name	</th><th>	School Name	</th>	<th>	Module		</th><th>	Semester		</th>	<th>	Start Date	</th> <th>	End Date	</th>   
	</tr>
</thead>

<tbody>
	<tr>
		<td>{{s.first_name}}</td>
		<td>{{s.last_name}}</td>
		<td>{{s.school.name}}</td>
		<td>{{s.module.name}}</td>
		<td>{{s.semester}}</td>
		<td>{{s.start_date}}</td>
		<td>{{s.end_date}}</td>
	</tr>
{%endfor%}
</tbody>

</table>
{% else %}
<p>No students have enrolled in your courses yet.</p>
{% endif %}
</div>







<div class="hero-unit">
<h2>Pending Students</h2>
{% if view_pending_students%}
{% for p in view_pending_students%}
<table cellspacing="0" class="infotable" summary="Course List">
	<colgroup span="3" id="coursetablecols">
	<col class="name" />
	<col class="module" />
	<col class="teacher" />
	<col class="semester" />
	<col class="start date" />
	<col class="end date" />
	</colgroup>
					
<thead>
	<tr>
		<th>	First Name	</th>	<th>	Last Name		</th><th>	Course		</th>	<th>	Semester	</th> <th>	Start Date	</th>   <th>	End Date	</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>{{c.name}}</td>
		<td>{{c.module}}</td>
		<td>{{c.teacher}}</td>
		<td>{{c.semester}}</td>
		<td>{{c.start_date}}</td>
		<td>{{c.end_date}}</td>
		<td><a href="/add_course/{{ c.pk }}/">Join Course</a></td>
	</tr>
{%endfor%}
</tbody>

</table>
{% else %}
<p>No students have enrolled in your courses yet.</p>
{% endif %}
</div>

{% endblock %}