{% extends "base.html" %}
{% load i18n admin_static %}
{% block title %}Create a Course{% endblock %}
{% block content %}

		<div id="breadcrumbbar">
		<span class="here">You are Here:</span>  
				&gt; 	Add School
		</div>
		
		<div id="container">
			<h2>	Add Course	</h2>
			<form action="." method="post">{% csrf_token %}
			    {{ form.non_field_errors}}
                <fieldset>
				<legend>Course Information</legend>

                    <div class="fieldWrapper">
                    {{ form.name.errors }}
					<label for="name">	 Course Name:</label>
					{{ form.name}}
					<br/><br/>
					</div>

                    <div class="fieldWrapper">
                    {{ form.semester.errors }}
					<label for="semester">	Semester:</label>
					{{ form.semester}}
					<br/><br/>
					</div>


                    <div class="fieldWrapper">
                    {{ form.start_date.errors }}
					<label for="start_date">	Start Date:</label>
					{{ form.start_date}}
					<br/><br/>
					</div>

					<div class="fieldWrapper">
                    {{ form.end_date.errors }}
					<label for="end_date">	End Date:</label>
					{{ form.end_date}}
					<br/><br/>
					</div>

					<label for="addschool">	</label>
					<input id="addschool" type="submit" value="Add School" />
				</fieldset>
			</form>
			
		</div>

	
{% endblock %}